@font-face {
  font-family: 'SFUFuturaRegular';
  src: url('../fonts/SFUFuturaRegular.eot');
  src: url('../fonts/SFUFuturaRegular.eot') format('embedded-opentype'),
  url('../fonts/SFUFuturaRegular.svg#SFUFuturaRegular') format('svg'),
  url('../fonts/SFUFuturaRegular.woff') format('woff'),
  url('../fonts/SFUFuturaRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SFUFuturaBold';
  src: url('../fonts/SFUFuturaBold.eot');
  src: url('../fonts/SFUFuturaBold.eot') format('embedded-opentype'),
  url('../fonts/SFUFuturaBold.svg#SFUFuturaHeavy') format('svg'),
  url('../fonts/SFUFuturaBold.woff') format('woff'),
  url('../fonts/SFUFuturaBold.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UTMBryantLGRegular';
  src: url('../fonts/UTMBryantLGRegular.eot');
  src: url('../fonts/UTMBryantLGRegular.eot') format('embedded-opentype'),
  url('../fonts/UTMBryantLGRegular.svg#SFUFuturaBook') format('svg'),
  url('../fonts/UTMBryantLGRegular.woff') format('woff'),
  url('../fonts/UTMBryantLGRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'UTMBryantLGBold';
  src: url('../fonts/UTMBryantLGBold.eot');
  src: url('../fonts/UTMBryantLGBold.eot') format('embedded-opentype'),
  url('../fonts/UTMBryantLGBold.svg#SFUFuturaBook') format('svg'),
  url('../fonts/UTMBryantLGBold.woff') format('woff'),
  url('../fonts/UTMBryantLGBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


$EasingQuadIn: cubic-bezier(0.550, 0.085, 0.680, 0.530);
$EasingCubicIn: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$EasingQuartIn: cubic-bezier(0.895, 0.030, 0.685, 0.220);
$EasingQuintIn: cubic-bezier(0.755, 0.050, 0.855, 0.060);
$EasingSineIn: cubic-bezier(0.470, 0.000, 0.745, 0.715);
$EasingExpoIn: cubic-bezier(0.950, 0.050, 0.795, 0.035);
$EasingCircIn: cubic-bezier(0.600, 0.040, 0.980, 0.335);
$EasingBackIn: cubic-bezier(0.600, 0, 0.735, 0.045);

$EasingQuadOut: cubic-bezier(0.250, 0.460, 0.450, 0.940);
$EasingCubicOut: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$EasingQuartOut: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$EasingQuintOut: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$EasingSineOut: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$EasingExpoOut: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$EasingCircOut:cubic-bezier(0.075, 0.820, 0.165, 1.000);
$EasingBackOut: cubic-bezier(0.175, 0.885, 0.320, 1);

$EasingQuadInOut: cubic-bezier(0.455, 0.030, 0.515, 0.955);
$EasingCubicInOut: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$EasingQuartInOut: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$EasingQuintInOut: cubic-bezier(0.860, 0.000, 0.070, 1.000);
$EasingSineInOut: cubic-bezier(0.445, 0.050, 0.550, 0.950);
$EasingExpoInOut: cubic-bezier(1.000, 0.000, 0.000, 1.000);
$EasingCircInOut: cubic-bezier(0.785, 0.135, 0.150, 0.860);
$EasingBackInOut: cubic-bezier(0.680, 0, 0.265, 1);
$EasingOut: cubic-bezier(.37,.15,.32,.94);
$EasingBackIn2: cubic-bezier(0.61, 1.8, 0.89, 1.62);


@mixin TransitionWithDurationAndEase($duration, $easing) {
    -webkit-transition: all $duration $easing;
    -moz-transition: all $duration $easing;
    -ms-transition: all $duration $easing;
    -o-transition: all $duration $easing;
    transition: all $duration $easing;
}


@mixin TransitionWithDurationAndEase_delay($duration, $easing, $delay) {
    -webkit-transition: all $duration $easing $delay;
    -moz-transition: all $duration $easing $delay;
    -ms-transition: all $duration $easing $delay;
    -o-transition: all $duration $easing $delay;
    transition: all $duration $easing $delay;
}

@mixin centerTransformOrigin {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}


@mixin transformOrigin($x, $y) {
    -webkit-transform-origin: $x $y;
    -moz-transform-origin: $x $y;
    -ms-transform-origin: $x $y;
    -o-transform-origin: $x $y;
    transform-origin: $x $y;
}

@mixin transformScale($scale){

    filter: none;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);

    -webkit-transform: scale($scale);
    -moz-transform: scale($scale);
    -ms-transform: scale($scale);
    -o-transform: scale($scale);
    transform: scale($scale);
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}
@mixin animation($name, $dur, $easing, $delay, $repeat, $direction, $fillMode, $state){
    /* @keyframes name | duration | timing-function | delay |
       iteration-count | direction | fill-mode | play-state */
    /*animation: slidein 3s ease-in 1s 2 reverse both paused;*/

    -webkit-animation: $name $dur $easing $delay $repeat $direction $fillMode $state;
    -moz-animation: $name $dur $easing $delay $repeat $direction $fillMode $state;
    animation: $name $dur $easing $delay $repeat $direction $fillMode $state;
}


@mixin font($fontName, $fontSize, $fontColor){
    font-family: $fontName;
    font-size: $fontSize;
    color:$fontColor;
}


@mixin fontStyle($fontName, $fontSize, $lineHeight, $padding, $marginBottom){
    font-weight: normal;
    font-family: $fontName;
    font-size: $fontSize;
    line-height: $lineHeight;
    padding: $padding;
    margin-bottom: $marginBottom;
}

@mixin fontNoColor($fontName){
    font-family: $fontName;
}

@mixin textGradient($fromColor, $toColor){
    //font-size: $fontSize;
    background: -webkit-linear-gradient($fromColor, $toColor);
    background: linear-gradient($fromColor, $toColor);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin color-blue{
    color: #0b77be;
}

@mixin background-blue{
    background: #0b77be;
}

@mixin line-sm-bt{
    display: block;
    height: 1px;
    width: 155px;
    margin: 10px auto 0;
    @include background-blue;
}


@mixin radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin rotate($rotate) {
    -webkit-transform: rotate($rotate);
    -moz-transform: rotate($rotate);
    -ms-transform: rotate($rotate);
    -o-transform: rotate($rotate);
    transform: rotate($rotate);
}

@mixin shadow-out ($h, $v, $blur, $color) {
    -webkit-box-shadow:  $h $v $blur $color;
    -moz-box-shadow:  $h $v $blur $color;
    box-shadow:  $h $v $blur $color;
}

@mixin shadow-in ($h, $v, $d, $blur, $color) {
    -webkit-box-shadow: inset  $h $v $d $blur $color;
    -moz-box-shadow: inset  $h $v $d $blur $color;
    box-shadow: inset  $h $v $d $blur $color;
}

/*@mixin textShadow ($h, $v, $blur, $color) {
    text-shadow: $h $v $blur $color;
    -webkit-text-shadow: $h $v $blur $color;
}*/

@mixin textShadow ($txtshadow) {
    text-shadow: $txtshadow;
    -webkit-text-shadow: $txtshadow;
}

@mixin disableUserSelection(){
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}


@mixin absoluteReset(){
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}