
.aboutUs {
    background: url("../images/bg-about.jpg")no-repeat center bottom;
    background-size: contain;
    padding-bottom: 200px;
    .thumb-about {
        display: inline-block;
        border: 2px solid #fff;
    }
    .product-detail-header {
        padding: 0;
        line-height: normal;
    }
    &-top {
        max-width: 970px;
        margin: 70px auto 60px;
        @extend .clbt;
        @media screen and (max-width: 480px){
            margin: 30px 0 20px;
        }
        .brown-line {
            margin: 0;
        }
        .col-left-about {
            display: block;
            float: left;
            width: 40%;
            padding: 0 15px;
            @media screen and (max-width: 480px){
                float: none;
                width: 100%;
            }
        }
        .col-right-about {
            display: block;
            float: left;
            width: 60%;
            padding: 0 15px;
            @media screen and (max-width: 480px){
                float: none;
                width: 100%;
            }
        }
    }
    &-bottom {
        text-align: center;
        max-width: 770px;
        padding: 0 15px;
        margin: 0 auto;
        @media screen and (max-width: 480px){
            text-align: left;
        }
        .thumb-about {
            margin: 10px 0 50px;
            @media screen and (max-width: 480px) {
                margin-bottom: 30px;
            }
        }
        &-inner {
            .brown-line {
                margin: 0 auto;
                @media screen and (max-width: 480px){
                    margin: 0;
                }
            }
        }
    }
}