$bgIp: #e1e1e1;
$colorBrown: #8e5634;

%right-form {
    display: inline-block;
    vertical-align: top;
    line-height: 45px;
    padding: 0 15px;
    width: 70%;
    @media screen and (max-width: 540px){
        width: 100%;
        display: block;
    }
}

%left-form {
    @extend %right-form;
    width: 29%;
    @media screen and (max-width: 540px){
        text-align: left;
        display: block;
        width: 100%;
    }
}

.contactPage {
    padding: 135px 0 45px;
    .contact-inner {
        .contact-info {
            height: 60vh;
            @media screen and (max-width: 540px){
                height: auto;
                margin-bottom: 30px;
            }
        }
        .map {
            height: 60vh;
            @media screen and (max-width: 540px){
                height: auto;
                margin-bottom: 30px;
            }
        }
    }
    .title-xs {
        text-transform: uppercase;
    }

    @media screen and (max-width: 1199px){
        padding: 90px 0 45px;
    }

}

.info-contact {
    .product-detail-header {
        padding: 0;
    }
    &-inner {
        max-width: 700px;
        margin: 0 auto;
        .topForm {
            .title-right-form {
                @extend %right-form;
            }
        }
        .control-form {
            display: block;
            margin-bottom: 15px;
            @extend .clbt;
            @media screen and (max-width: 540px){
                padding: 0 15px;
            }
            .btn {
                padding: 0 55px;
                @include textShadow(0 2px 3px rgba(0,0,0,.1));
                font-size: 18px;
            }
            .txtarea {
                resize: none;
            }
        }
        .grp-select-part {
            @extend %right-form;
            position: relative;
            padding: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            .current-select {
                background: $bgIp;
                line-height: 54px;
                height: 45px;
                width: 100%;
                max-width: inherit;
                min-width: inherit;
                display: block;
                margin: 0;
                cursor: inherit;
                @include shadow-in(0, 2px, 3px, 0, rgba(0,0,0,.05));
                padding: 0 30px 0 15px;
                text-transform: uppercase;
                color: $colorBrown;
                font-family: 'UTMBryantLGBold';
                text-shadow: none;
                /*&:before, &:after {
                    display: block;
                    content:'';
                    width: 13px;
                    height: 2px;
                    background: $colorBrown;
                    position: absolute;
                    top: 20px;
                    right: 10px;
                    @include rotate(45deg);
                }
                &:after {
                    @include rotate(-45deg);
                    right: 19px;
                }
                &.active-slc {
                    &:before, &:after {
                        @include rotate(-45deg);
                    }
                    &:after {
                        @include rotate(45deg);
                    }
                }*/
            }
            .select-part {
                display: block;
                background: $bgIp;
                .lst-part {
                    margin: 0;
                    width: 100%;
                    min-width: inherit;
                    max-width: inherit;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    .item-part {
                        padding: 0 15px;
                        background: none;
                        color: #3e3e3e;
                        text-shadow: none;
                        &:hover {
                            border: none;
                        }
                    }
                }
            }
        }
        .find-map {
            .topForm {
                //background: url("../images/line.png")no-repeat center center;
            }
        }
        .ctn-map {
            margin-bottom: 195px;
            padding: 0 10px;
            @media screen and (max-width: 480px){
                margin-bottom: 40px;
            }
        }
        .btn {
            height: 50px;
            line-height: 58px;
        }
    }
    .label-form {
        @extend %left-form;
        min-height: 1px;
        text-align: right;
        @media screen and (max-width: 540px){
            text-align: left;
            padding: 0;
        }
    }
    .ip-form {
        border: none;
        @include shadow-in(0, 2px, 3px, 0, rgba(0,0,0,.05));
        background: $bgIp;
        @extend %right-form;
        @include font('UTMBryantLGBold', 18px, #3e3e3e);
    }
}

#map {
    width: 100%;
    height: 400px;
    @media screen and (max-width: 320px){
        height: 300px;
    }
}
