//@import "helper";

$blue: #77a440;
$blueLight: #8fc74a;
$blueUltraLight: #c8ff84;
$brown: #8e5634;
$dark: #3f3f3f;
$white : white;
$textShadow: 0 2px 3px rgba(0, 0, 0, .35);

@include keyframes(scrollMouse){
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
}

.wrapper {}
.cover {
    position: relative;

    .scrollMouse {
        display: block;
        position: absolute;
        bottom: 20px;
        left: 50%;
        margin-left: -3px;
        z-index: 9;
        background: $blue;
        @include radius(100px);
        width: 30px;
        height: 40px;
        > span {
            display: block;
            width: 20px;
            height: 20px;
            position: relative;
            @include animation(scrollMouse, 1s, $EasingOut, .1s, infinite, normal, forwards, running);
            &:before, &:after {
                display: block;
                content:'';
                height: 2px;
                width: 10px;
                background: $white;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -3px;
                @include rotate(45deg);
            }
            &:after {
                @include rotate(-45deg);
                margin-left: 3px;
            }
        }
        
        .a1 {
            margin-top: 6px;
            -webkit-animation-delay: .1s;
            -moz-animation-delay: .1s;
            animation-delay: .1s;
        }
        .a2 {
            -webkit-animation-delay: .2s;
            -moz-animation-delay: .2s;
            animation-delay: .2s;
        }
        .a3 {
            -webkit-animation-delay: .3s;
            -moz-animation-delay: .3s;
            animation-delay: .3s;
        }
    }

    /*.scrollMouse .a1 {
        margin-top: 6px;
        -webkit-animation-delay: .1s;
        -moz-animation-delay: .1s;
        animation-delay: .1s;
    }

    .scrollMouse .a2 {
        -webkit-animation-delay: .2s;
        -moz-animation-delay: .2s;
        animation-delay: .2s;
    }

    .scrollMouse .a3 {
        -webkit-animation-delay: .3s;
        -moz-animation-delay: .3s;
        animation-delay: .3s;
    }*/


    .slider {
        .swiper-container {
            .swiper-wrapper {
                .swiper-slide {
                    background: url("../images/sliderCover2.jpg")no-repeat center center;
                    background-size: cover;
                    height: 529px;
                    .caption {
                        display: block;
                        width: 420px;
                        //height: 200px;
                        position: absolute;
                        right: 100px;
                        top: 50%;
                        margin-top: -100px;
                        text-align: center;
                        &-title {
                            //text-transform: uppercase;
                            @include font('SFUFuturaBold', 60px, $white);
                            @include textShadow($textShadow);
                            line-height: normal;
                            margin-bottom: 15px;
                        }
                        @media screen and (max-width: 767px){
                            width: 300px;
                            height: 100px;
                            margin-top: -50px;
                            &-title {
                                font-size: 30px;
                            }
                        }
                        @media screen and (max-width: 640px){
                            width: 100%;
                            text-align: center;
                            right: 0;
                            left: 0;
                            margin-top: 30px;
                            &-title {
                                font-size: 25px;
                            }
                        }
                        @media screen and (max-width: 414px){
                            &-title {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
        .swiper-prev {
            display: block;
            position: absolute;
            top: 50%;
            left: 20px;
            margin-top: -30px;
            z-index: 99;
            @include radius(2px);
            cursor: pointer;
            padding: 30px;
            background: transparent;
            @include TransitionWithDurationAndEase(.5s, $EasingOut);
            &:before, &:after {
                display: block;
                content: '';
                position: absolute;
                height: 2px;
                width: 13px;
                left: 24px;
                background: $white;
            }
            &:after {
                border-style: solid;
                border-color: transparent $white transparent transparent;
                border-width: 5px 8px ;
                left: 8px;
                top: 50%;
                width: 0;
                height: 0;
                margin-top: -4px;
                background: none;
            }
            &:hover {
                left: 10px;
                background: rgba(200, 255, 132, .3);
            }
        }
        .swiper-next {
            @extend .swiper-prev;
            left: auto;
            right: 20px;
            @include rotate(180deg);
            &:hover {
                left: auto;
                right: 10px;
                background: rgba(200, 255, 132, .3);
            }
        }
    }
}



.intro {
    background: url("../images/introCover.jpg")no-repeat center bottom #f2f2f2;
    -webkit-background-size: cover;
    background-size: cover;
    @media screen and (max-width: 1300px){
        -webkit-background-size: contain;
        background-size: contain;
    }
    &-inner {
        text-align: center;
        max-width: 910px;
        margin: 0 auto;
        padding: 80px 0 120px;
        p {
            margin-bottom: 20px;
        }
    }
}

.secPrice {
    &-inner {
        @extend .clbt;
        .table-price {
            display: block;
            position: relative;
            padding-top: 20px;
            @media screen and (min-width: 415px){
                padding: 60px 0 0;
            }
            .ctn-table-price {
                display: block;
                position: relative;
                padding-bottom: 20px;
            }
            .lst-product {
                overflow-y: auto;
                overflow-x: hidden;
                width: 100%;
                margin: 0;
                padding: 0 20px 0 0;
                //padding-right: 20px;
                height: 100%;

                //scroll
                scrollbar-arrow-color: #a1a1a1;
                scrollbar-face-color: #a1a1a1;
                scrollbar-highlight-color: #cbcbca;
                scrollbar-shadow-color: #a1a1a1;


                &::-webkit-scrollbar {
                    width: 8px;
                }

                /* Track */
                &::-webkit-scrollbar-track {
                    -webkit-border-radius: 10px;
                    border-radius: 10px;
                    background: #cbcbca;
                }

                /* Handle */
                &::-webkit-scrollbar-thumb {
                    -webkit-border-radius: 10px;
                    border-radius: 10px;
                    background: $blue;
                }
                &::-webkit-scrollbar-thumb:window-inactive {
                    background: #a1a1a1;
                }
                //END scroll

                .item-product {
                    display: block;
                    padding-bottom: 20px;
                    .bgBlue {
                        display: inline-block;
                        padding-right: 18px;
                        z-index: 1;
                        position: relative;
                    }
                    .title-price {
                        position: relative;
                        padding-right: 40px;
                        text-transform: uppercase;
                        @include font('SFUFuturaRegular', 24px, $white);
                        cursor: pointer;
                        &:after {
                            display: block;
                            content: '';
                            position: absolute;
                            left: 0;
                            right: 40px;
                            bottom: 6px;
                            height: 1px;
                            background: #b1d881;
                        }
                        .arrDown {
                            display: block;
                            background: $dark;
                            @include radius(70px);
                            width: 25px;
                            height: 25px;
                            position: absolute;
                            right: 0;
                            top: 5px;
                            &:before, &:after {
                                display: block;
                                content:'';
                                height: 2px;
                                width: 12px;
                                background: $white;
                                @include rotate(45deg);
                                @include radius(10px);
                                overflow: hidden;
                                position: absolute;
                                top: 8px;
                                right: 5px;
                            }
                            &:after {
                                @include rotate(-45deg);
                                top: 15px;
                            }
                        }
                        &.active {
                            .arrDown {
                                @include rotate(90deg);
                            }
                        }
                    }
                    .block-price {
                        display: none;
                        .lst-price {
                            margin: 0;
                            padding: 0;
                            .item-price {
                                @extend .clbt;
                                @include font('UTMBryantLGBold', 24px, $white);
                                .label-qual {
                                    float: left;
                                    width: 75%;
                                    color: $dark;
                                    padding-right: 10px;
                                    position: relative;
                                    &:after {
                                        display: block;
                                        content: '';
                                        position: absolute;
                                        left: 0;
                                        right: 40px;
                                        bottom: 6px;
                                        height: 1px;
                                        //background: #b1d881;
                                        border-bottom: 1px dotted $dark;
                                    }
                                    @media screen and (max-width: 414px){
                                        width: 70%;
                                    }
                                }
                                .price {
                                    float: left;
                                    width: 25%;
                                    text-align: right;
                                    @media screen and (max-width: 414px){
                                        width: 30%;
                                    }
                                }
                            }
                        }
                    }
                    @media screen and (max-width: 1070px){
                        .block-price {
                            .lst-price {
                                .item-price {
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                    @media screen and (max-width: 940px){
                        .title-price {
                            font-size: 16px;
                            .arrDown {
                                width: 20px;
                                height: 20px;
                                &:before, &:after {
                                    width: 8px;
                                    top: 7px;
                                    right: 5px;
                                }
                                &:after {
                                    top: 11px;
                                }
                            }
                        }
                        .block-price {
                            .lst-price {
                                .item-price {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .grp-service {
        display: block;
        margin-right: -15px;
        margin-left: -15px;
        .half-ver {
            display: block;
            height: 50vh;
        }
        .box-product {
            background: url("../images/bgProduct.jpg")no-repeat center center;
            -webkit-background-size: cover;
            background-size: cover;
            position: relative;
            &:after {
                display: block;
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: rgba(53, 45, 47, .7);
                @include TransitionWithDurationAndEase(.2s, $EasingCircInOut);
            }
            &:hover {
                &:after {
                    background: transparent;
                }
            }
            .title-md {
                margin-bottom: 0;
                text-transform: uppercase;
            }
            .bx-ver {
                display: block;
                z-index: 1;
                position: relative;
                width: 100%;
                height: 100%;
                .inner-bx-ver {
                    position: absolute;
                    bottom: 20px;
                    left: 40px;
                }
            }
        }
        .box-service {
            @extend .box-product;
            background: url("../images/bgProduct2.jpg")no-repeat center center;
            -webkit-background-size: cover;
            background-size: cover;
        }
    }
}

.contact {
    background: $brown;
    color: $white;
    &-inner {
        @extend .clbt;
        .contact-info, .map {
            display: table;
            text-align: center;
            width: 100%;
            height: 100vh;
            letter-spacing: 4px;
            @include fontNoColor('UTMBryantLGBold');
            @media screen and (max-width: 767px){
                height: auto;
                padding: 30px 0;
            }
            .ctn-info, .inner-map {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
}

