@import "helper";


$backgroundGrey:#f2f2f2;
$textContentColor:#636363;
$filterBgColor: #8fc74a;
$textShadow: 0 2px 3px rgba(0, 0, 0, .35);

$backgroundTestColor:crimson;

.product{
    margin-top:37px;
    background-color: $backgroundGrey;


    &-filter{

        position: relative;
        margin:auto;
        width: 100%;
        max-width: 653px;
        text-align: center;
        /*background-color: $backgroundTestColor;*/


        &-title{
            @include font('UTMBryantLGRegular', 18px, $textContentColor);
            background: url("../images/line.png") no-repeat center center;
            background-size: contain;
            text-align: center;
            @media screen and (max-width: 653px){
                background: none;
            }
        }

        &-placeholder{

            position: relative;
            @include textShadow($textShadow);
            color:white;
            text-transform: uppercase;
            line-height: 53px;
            height: 50px;

            background-color: #8fc74a;
            max-width: 412px;
            width: calc(100% - 20px);
            min-width: 300px;

            margin: 17px auto;
            margin-bottom: 0px;
            img{
                @include TransitionWithDurationAndEase(0.5s, $EasingCubicOut);
                @include rotate(0);
                @include absoluteReset();
                left:90%;
                top:35%;
            }
        }


        &-placeholder:hover{
            cursor: pointer;
            img{
                @include TransitionWithDurationAndEase(0.5s, $EasingCubicInOut);
                @include rotate(180deg);
            }
        }




        &-holder{
            margin: 0px auto;
            margin-bottom: 0px;

            @include textShadow($textShadow);
            color:white;
            text-transform: uppercase;
            line-height: 53px;
            vertical-align: middle;

            max-width: 412px;
            width: calc(100% - 20px);
            min-width: 300px;

            height: 0px;

            @media screen and (max-width: 412px){
                margin: 0px 10px;
            }

            overflow: hidden;


            .product-filter-item{
                cursor: pointer;
                display: block;
                @include disableUserSelection();
                background-color: $filterBgColor;
                border: none;
                height: 50px;

            }
            .product-filter-item:hover{
                background-color: white;
                border: solid 1px $filterBgColor;
                color:$filterBgColor;
                @include textShadow(none);
                font-weight: bold;
            }
        }



    }

    &-holder{

        margin: 0px auto;
        max-width: 1000px;
    }

    .product-list{
        font-size: 0px;
        margin: 0px auto;
        padding: 0px;

    }

    .product-item{
        @include font('UTMBryantLGBold', 18px, $textContentColor);
        text-align: center;
        display: inline-block;
        padding: 16px;
        width: 33.333%;
        @include disableUserSelection();
        @media screen and (max-width: 640px){
            width: 50%;
        }

        img{
            @include TransitionWithDurationAndEase(0.3s, $EasingSineOut);
            border: 3px solid rgba(143,199,74,0);
        }
        p{
            text-transform: uppercase;
        }
        &-name {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-top: 15px;
        }

    }
    .product-item:hover{
        cursor: pointer;
        img{
            @include TransitionWithDurationAndEase(0.3s, $EasingSineOut);
            border: 3px solid rgba(143,199,74,255);
        }
    }



}





