@import "helper";


$backgroundGrey:#f2f2f2;
$textContentColor:#636363;
$filterBgColor: #8fc74a;
$textShadow: 0 2px 3px rgba(0, 0, 0, .35);
$greyText:#8e5634;

$backgroundTestColor:crimson;


.brown-line{
    margin-left: 20px;
    margin-top: 42px;
    width: 65px;
    height: 1px;
    background-color: $textContentColor;
}
body{
    background-color: $backgroundGrey;
}


.product-detail{

    width: 100%;
    max-width: 730px;
    margin: 0 auto;

    &-nav{
        padding: 0 20px;
        width: 100%;
        margin-top: 15px;
        @include font(UTMBryantLGRegular, 0, $textContentColor);
        li{
            display: inline-block;
            font-size: 18px;
            height: 100%;
            vertical-align: middle;
            margin-right: 13px;
            a{
                &:hover {
                    color: $filterBgColor;
                }
            }
        }
        li:nth-child(2n){
            vertical-align: top;
            margin-top: -3px;
        }
        li:last-child{
            color: #7cb931;
        }

    }
    &-header{
        padding: 0 20px;
        margin-top:30px;
        margin-bottom: 15px;
        @include font(SFUFuturaBold, 30px, $greyText);
        @media screen and (max-width: 460px){
            font-size: 23px;
        }
    }

    &-content{
        padding: 0 20px;
        line-height: 20px;
        text-align: left;
        p {
            line-height: normal;
        }
        @media screen and (max-width: 540px){
            text-align: justify;
        }
    }

/*
    &-image{
        margin:20px 0px;
        @media screen and (max-width: 727px){
            padding: 0 10px;
        }
    }*/

    &-qualification{
        padding: 0 20px;
        strong{
            font-weight: bold;
        }
        p{
            line-height: 20px;
            margin-top: -5px;
        }

        p:first-child{
            @include font(UTMBryantLGBold, 18px, $greyText);
            margin-bottom: 30px;
            margin-top: 20px;
        }
        p:last-child{
            margin-top: 20px;
            span{
                @include font(UTMBryantLGBold, 18px, $greyText);
                text-decoration: underline;
            }
        }
    }


    div:last-child{
        width: 150px;
        margin-top: 0px;
        margin-bottom: 100px;
    }
}