@font-face {
  font-family: 'SFUFuturaRegular';
  src: url("../fonts/SFUFuturaRegular.eot");
  src: url("../fonts/SFUFuturaRegular.eot") format("embedded-opentype"), url("../fonts/SFUFuturaRegular.svg#SFUFuturaRegular") format("svg"), url("../fonts/SFUFuturaRegular.woff") format("woff"), url("../fonts/SFUFuturaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SFUFuturaBold';
  src: url("../fonts/SFUFuturaBold.eot");
  src: url("../fonts/SFUFuturaBold.eot") format("embedded-opentype"), url("../fonts/SFUFuturaBold.svg#SFUFuturaHeavy") format("svg"), url("../fonts/SFUFuturaBold.woff") format("woff"), url("../fonts/SFUFuturaBold.TTF") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'UTMBryantLGRegular';
  src: url("../fonts/UTMBryantLGRegular.eot");
  src: url("../fonts/UTMBryantLGRegular.eot") format("embedded-opentype"), url("../fonts/UTMBryantLGRegular.svg#SFUFuturaBook") format("svg"), url("../fonts/UTMBryantLGRegular.woff") format("woff"), url("../fonts/UTMBryantLGRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'UTMBryantLGBold';
  src: url("../fonts/UTMBryantLGBold.eot");
  src: url("../fonts/UTMBryantLGBold.eot") format("embedded-opentype"), url("../fonts/UTMBryantLGBold.svg#SFUFuturaBook") format("svg"), url("../fonts/UTMBryantLGBold.woff") format("woff"), url("../fonts/UTMBryantLGBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/*@mixin textShadow ($h, $v, $blur, $color) {
    text-shadow: $h $v $blur $color;
    -webkit-text-shadow: $h $v $blur $color;
}*/
.brown-line {
  margin-left: 20px;
  margin-top: 42px;
  width: 65px;
  height: 1px;
  background-color: #636363; }

body {
  background-color: #f2f2f2; }

.product-detail {
  width: 100%;
  max-width: 730px;
  margin: 0 auto; }
  .product-detail-nav {
    padding: 0 20px;
    width: 100%;
    margin-top: 15px;
    font-family: UTMBryantLGRegular;
    font-size: 0;
    color: #636363; }
    .product-detail-nav li {
      display: inline-block;
      font-size: 18px;
      height: 100%;
      vertical-align: middle;
      margin-right: 13px; }
    .product-detail-nav li:nth-child(2n) {
      vertical-align: top;
      margin-top: -3px; }
    .product-detail-nav li:last-child {
      color: #7cb931; }
  .product-detail-header {
    padding: 0 20px;
    margin-top: 30px;
    margin-bottom: 15px;
    font-family: SFUFuturaBold;
    font-size: 30px;
    color: #8e5634; }
  .product-detail-content {
    padding: 0 20px;
    line-height: 20px;
    text-align: left; }
    @media screen and (max-width: 540px) {
      .product-detail-content {
        text-align: justify; } }
  .product-detail-image {
    margin: 20px 0px; }
    @media screen and (max-width: 727px) {
      .product-detail-image {
        padding: 0 10px; } }
  .product-detail-qualification {
    padding: 0 20px; }
    .product-detail-qualification strong {
      font-weight: bold; }
    .product-detail-qualification p {
      line-height: 20px;
      margin-top: -5px; }
    .product-detail-qualification p:first-child {
      font-family: UTMBryantLGBold;
      font-size: 18px;
      color: #8e5634;
      margin-bottom: 30px;
      margin-top: 20px; }
    .product-detail-qualification p:last-child {
      margin-top: 20px; }
      .product-detail-qualification p:last-child span {
        font-family: UTMBryantLGBold;
        font-size: 18px;
        color: #8e5634;
        text-decoration: underline; }
  .product-detail div:last-child {
    width: 150px;
    margin-top: 0px;
    margin-bottom: 100px; }

/*# sourceMappingURL=product-detail.css.map */
