@font-face {
  font-family: 'SFUFuturaRegular';
  src: url("../fonts/SFUFuturaRegular.eot");
  src: url("../fonts/SFUFuturaRegular.eot") format("embedded-opentype"), url("../fonts/SFUFuturaRegular.svg#SFUFuturaRegular") format("svg"), url("../fonts/SFUFuturaRegular.woff") format("woff"), url("../fonts/SFUFuturaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SFUFuturaBold';
  src: url("../fonts/SFUFuturaBold.eot");
  src: url("../fonts/SFUFuturaBold.eot") format("embedded-opentype"), url("../fonts/SFUFuturaBold.svg#SFUFuturaHeavy") format("svg"), url("../fonts/SFUFuturaBold.woff") format("woff"), url("../fonts/SFUFuturaBold.TTF") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'UTMBryantLGRegular';
  src: url("../fonts/UTMBryantLGRegular.eot");
  src: url("../fonts/UTMBryantLGRegular.eot") format("embedded-opentype"), url("../fonts/UTMBryantLGRegular.svg#SFUFuturaBook") format("svg"), url("../fonts/UTMBryantLGRegular.woff") format("woff"), url("../fonts/UTMBryantLGRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'UTMBryantLGBold';
  src: url("../fonts/UTMBryantLGBold.eot");
  src: url("../fonts/UTMBryantLGBold.eot") format("embedded-opentype"), url("../fonts/UTMBryantLGBold.svg#SFUFuturaBook") format("svg"), url("../fonts/UTMBryantLGBold.woff") format("woff"), url("../fonts/UTMBryantLGBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/*@mixin textShadow ($h, $v, $blur, $color) {
    text-shadow: $h $v $blur $color;
    -webkit-text-shadow: $h $v $blur $color;
}*/
.product {
  margin-top: 37px;
  background-color: #f2f2f2; }
  .product-filter {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 653px;
    text-align: center;
    /*background-color: $backgroundTestColor;*/ }
    .product-filter-title {
      font-family: "UTMBryantLGRegular";
      font-size: 18px;
      color: #636363;
      background: url("../images/line.png") no-repeat center center;
      background-size: contain;
      text-align: center; }
      @media screen and (max-width: 653px) {
        .product-filter-title {
          background: none; } }
    .product-filter-placeholder {
      position: relative;
      text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
      -webkit-text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
      color: white;
      text-transform: uppercase;
      line-height: 53px;
      height: 50px;
      background-color: #8fc74a;
      max-width: 412px;
      width: calc(100% - 20px);
      min-width: 300px;
      margin: 17px auto;
      margin-bottom: 0px; }
      .product-filter-placeholder img {
        -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        -ms-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        left: 90%;
        top: 35%; }
    .product-filter-placeholder:hover {
      cursor: pointer; }
      .product-filter-placeholder:hover img {
        -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
        -moz-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
        -ms-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
        -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg); }
    .product-filter-holder {
      margin: 0px auto;
      margin-bottom: 0px;
      text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
      -webkit-text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
      color: white;
      text-transform: uppercase;
      line-height: 53px;
      vertical-align: middle;
      max-width: 412px;
      width: calc(100% - 20px);
      min-width: 300px;
      height: 0px;
      overflow: hidden; }
      @media screen and (max-width: 412px) {
        .product-filter-holder {
          margin: 0px 10px; } }
      .product-filter-holder .product-filter-item {
        cursor: pointer;
        display: block;
        user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        background-color: #8fc74a;
        border: none;
        height: 50px; }
      .product-filter-holder .product-filter-item:hover {
        background-color: white;
        border: solid 1px #8fc74a;
        color: #8fc74a;
        text-shadow: none;
        -webkit-text-shadow: none;
        font-weight: bold; }
  .product-holder {
    margin: 0px auto;
    max-width: 1000px; }
  .product .product-list {
    font-size: 0px;
    margin: 0px auto;
    padding: 0px; }
  .product .product-item {
    font-family: "UTMBryantLGBold";
    font-size: 18px;
    color: #636363;
    text-align: center;
    display: inline-block;
    padding: 16px;
    width: 33.333%;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none; }
    @media screen and (max-width: 640px) {
      .product .product-item {
        width: 50%; } }
    .product .product-item img {
      -webkit-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
      -moz-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
      -ms-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
      -o-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
      transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
      border: 3px solid rgba(143, 199, 74, 0); }
    .product .product-item p {
      text-transform: uppercase; }
    .product .product-item-name {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-top: 15px; }
  .product .product-item:hover {
    cursor: pointer; }
    .product .product-item:hover img {
      -webkit-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
      -moz-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
      -ms-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
      -o-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
      transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
      border: 3px solid #8fc74a; }

/*# sourceMappingURL=product.css.map */
