/* Reset */
img,legend{border:0}#bd:after,article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}.m0,figure,input,textarea{margin:0}#bd:after,.clearfix:after{clear:both;visibility:hidden}.clearfix,sub,sup{position:relative}*,:focus,a,a:active,a:focus,a:hover{outline:0}a,abbr,acronym,address,blockquote,body,caption,code,dd,del,dfn,div,dl,dt,em,fieldset,form,h1,h2,h3,h4,h5,h6,html,iframe,img,label,legend,li,object,ol,p,pre,q,span,table,tbody,tfoot,thead,ul{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100.01%;font-family:inherit;vertical-align:baseline}input,textarea{padding:0 0 0 1px;font-weight:inherit;font-style:inherit;font-size:11px;font-family:arial}textarea{padding-left:1px;overflow:auto;vertical-align:top}.p0,legend{padding:0}.o,svg:not(:root){overflow:hidden}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button,input{line-height:normal}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}table{border-collapse:collapse;border-spacing:0}caption,td,th{font-weight:400}blockquote:after,blockquote:before,q:after,q:before{content:""}blockquote,q{quotes:"''"}q:after,q:before{content:''}q{quotes:"\201C" "\201D" "\2018" "\2019"}li,ul{list-style-type:none}abbr[title]{border-bottom:1px dotted}dfn{font-style:italic}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}small{font-size:80%}sub,sup{font-size:75%;line-height:0;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}audio,canvas,video{display:inline-block}[hidden],audio:not([controls]){display:none}img{-ms-interpolation-mode:bicubic;vertical-align:middle;max-width:100%}html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{font-size:62.5%;font-family:Arial}#ft,#hd{clear:both}#bd:after{content:".";height:0}.l{float:left}.r{float:right}.clf,ul.ul-h li{float:left}.h{display:none}.last{margin-right:0;padding-right:0}.cl,.clf{clear:both}hr{border:none;border-top:1px solid #ccc;height:1px;clear:both}a{text-decoration:none}h1,h2,h3,h4,h5,h6{font-weight:700}h1{font-size:1.8em}h2{font-size:1.3em}h3{font-size:1.2em}h4{font-size:1.1em}h5{font-size:1em}h6{font-size:.9em}ul.ul-h{clear:both}ol li{list-style:decimal inside}.clearfix:after{content:'';display:block;height:0;font-size:0}.clearfix{display:block}* html .clearfix{zoom:1}*{-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;-o-font-smoothing:antialiased;font-smoothing:antialiased;-webkit-tap-highlight-color:transparent}p{margin-bottom:10px}@media print{blockquote,img,pre,tr{page-break-inside:avoid}*{background:0 0!important;color:#000!important;box-shadow:none!important;text-shadow:none!important;filter:none!important;-ms-filter:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}blockquote,pre{border:1px solid #999}thead{display:table-header-group}img{max-width:100%!important}@page{margin:.5cm}h2,h3,p{orphans:3;widows:3}h2,h3{page-break-after:avoid}}*,:after,:before{-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}input{-webkit-appearance:none;-moz-appearance:none;appearance:none}


@import "helper";

body {
    font-size: 18px;
    font-family: 'UTMBryantLGRegular';
    &.push_body {
        overflow: hidden;
    }
}


$blue: #77a440;
$blueLight: #8fc74a;
$blueUltraLight: #c8ff84;
$brown: #8e5634;
$dark: #3f3f3f;
$white : white;
$textShadow: 0 2px 3px rgba(0, 0, 0, .35);


.title-md-brown {
    @include font('UTMBryantLGBold', 30px, $brown);
    line-height: normal;
    margin-bottom: 35px;
    font-weight: normal;
    @media screen and (max-width: 768px){
        margin-bottom: 20px;
        font-size: 27px;
    }
    @media screen and (max-width: 414px){
        font-size: 18px;
    }
}
.title-md {
    @include font('UTMBryantLGBold', 36px, $white);
    line-height: normal;
    margin-bottom: 35px;
    font-weight: normal;
    @media screen and (max-width: 768px){
        margin-bottom: 20px;
        font-size: 27px;
    }
    @media screen and (max-width: 414px){
        font-size: 18px;
    }
}

.title-xs {
    @include font('UTMBryantLGBold', 24px, $white);
    line-height: normal;
    margin-bottom: 25px;
    font-weight: normal;
    @media screen and (max-width: 768px){
        margin-bottom: 15px;
        font-size: 20px;
    }
    @media screen and (max-width: 414px){
        font-size: 18px;
    }
}

.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-uppercase {text-transform: uppercase;}
.clbt:before, .clbt:after {display: table; content: '';}
.clbt:after {clear: both;}
.fl {float: left;}
.fr {float: right;}
.fntBt {@include fontNoColor('SFUFuturaBold')}
.fntBt-bryant {@include fontNoColor('UTMBryantLGBold')}
.fntNm {@include fontNoColor('SFUFuturaRegular')}
.hidden {display: none !important;}
.bgBlue {
    background: $blueLight;
}

.half-col {
    width: 50%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (max-width: 767px){
        width: 100%;
        float: none;
    }
}

.btn {
    display: inline-block;
    color: $white;
    border: none;
    cursor: pointer;
    background: $blueLight;
    position: relative;
    @include fontStyle('UTMBryantLGBold', 0px, 50px, 0 30px, 20px);
    @include TransitionWithDurationAndEase(.3s, $EasingOut);
    height: 50px;
    overflow: hidden;
    text-transform: uppercase;
    &:hover {
        background: $blue;
    }

    .text-btn {
        display: inline-block;
        vertical-align: middle;
        font-size: 20px;
        line-height: normal;
        padding-top: 6px;
        @media screen and (max-width: 460px){
            font-size: 15px;
        }
    }
    .arr {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        margin-left: 15px;
        width: 12px;
        height: 22px;
        &:before, &:after {
            display: block;
            content:'';
            height: 2px;
            width: 12px;
            background: $white;
            @include rotate(45deg);
            @include radius(10px);
            overflow: hidden;
            position: absolute;
            top: 7px;
            right: 0;
        }
        &:after {
            @include rotate(-45deg);
            top: 14px;
        }
    }
}

.container {
    @extend .clbt;
    margin: 0 auto;
    padding: 0 15px;
    @media screen and (min-width: 1200px){
        width: 1200px;
    }
}

header {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
}

@include keyframes(lineTop) {
    0% {
        @include rotate(0);
        @include transformOrigin(100%, 50%);
        @include TransitionWithDurationAndEase(.1s, $EasingExpoOut);
    }
    50% {
        @include rotate(15deg);
        @include TransitionWithDurationAndEase(.1s, $EasingExpoIn);
        @include transformOrigin(100%, 50%);
    }
    100% {
        @include rotate(-45deg);
        @include transformOrigin(100%, 50%);
    }
}

@include keyframes(lineBottom) {
    0% {
        @include rotate(0);
        @include transformOrigin(100%, 50%);
        @include TransitionWithDurationAndEase(.1s, $EasingExpoOut);
    }
    50% {
        @include rotate(-15deg);
        @include TransitionWithDurationAndEase(.1s, $EasingExpoIn);
        @include transformOrigin(100%, 50%);
    }
    100% {
        @include rotate(45deg);
        @include transformOrigin(100%, 50%);
    }
}

.header {
    .hamburger {
        @media screen and (min-width: 1200px){
            display: none;
        }
        display: block;
        position: fixed;
        right: 20px;
        top: 20px;
        cursor: pointer;
        @include TransitionWithDurationAndEase(.25s, $EasingBackInOut);
        &:before {
            display: block;
            content: '';
            width: 45px;
            height: 45px;
            background: $blueLight;
            @include radius(70px);
        }
        @media screen and (max-width: 1199px){
            &:active {
                &:before {
                    @include transformScale(1.13);
                }
            }
        }
        .line-grp {
            display: block;
            position: absolute;
            top: 50%;
            right: 50%;
            margin-top: -8px;
            margin-right: -8px;
            z-index: 1;
            .lineTop {
                display: block;
                height: 3px;
                width: 17px;
                background: $white;
                @include radius(5px);
                margin-bottom: 3px;
                @include TransitionWithDurationAndEase(.2s, $EasingOut);
            }
            .lineMid {
                @extend .lineTop;
            }
            .lineBottom {
                @extend .lineTop;
                margin-bottom: 0;
            }
        }
        &.activePush {
            .line-grp {
                margin-right: -6px;
                .lineTop {
                    @include animation(lineTop, .45s, $EasingBackIn2, 0.1s, 1, alternate, forwards, running);
                }
                .lineBottom {
                    @include animation(lineBottom, .45s, $EasingBackIn2, 0.1s, 1, alternate, forwards, running);
                }
                .lineMid {
                    opacity: 0;
                }
            }
        }
    }
    .nav {
        background: $blue;
        color: $white;
        margin-top: -1px;
        border: 1px solid rgba(255, 255, 255, .25);
        @extend .clbt;
        @include TransitionWithDurationAndEase(.3s, $EasingOut);
        .logo {
            display: block;
            float: left;
            margin-left: 20px;
            position: relative;
            > a {
                display: block;
                background: $white;
                padding: 25px 0;
                text-align: center;
                width: 138px;
                height: 138px;
                @include shadow-in(0, 0, 40px, 0, rgba(0,0,0,.05));
                position: absolute;
                top: -1px;
                left: 0;
                @include TransitionWithDurationAndEase(.3s, $EasingOut);
                @include transformOrigin(center, top);
                &:hover {
                    padding-top: 30px;
                    height: 143px;
                }
            }
        }
        .navBar {
            display: block;
            float: right;
            .nav-lst {
                @extend .clbt;
                .item-nav {
                    display: block;
                    float: left;
                    position: relative;
                    font-size: 14px;
                    &:after {
                        display: block;
                        content: '';
                        position: absolute;
                        right: 0;
                        top: 50%;
                        margin-top: -5px;
                        width: 1px;
                        height: 10px;
                        background: #a9c57c;
                    }
                    &:last-child {
                        &:after {
                            display: none;
                        }
                    }
                    > a {
                        display: block;
                        padding: 0 26px;
                        line-height: 67px;
                        color: $white;
                        text-transform: uppercase;
                        position: relative;
                        text-align: center;
                        @include TransitionWithDurationAndEase(.2s, $EasingOut);
                    }
                    &:hover, &.active {
                        > a {
                            @include fontNoColor('UTMBryantLGBold');
                            @include textShadow($textShadow);
                        }
                    }
                    .label-follow {
                        display: inline-block;
                        vertical-align: middle;
                        line-height: 67px;
                        margin-left: 26px;
                        margin-right: 6px;
                        color: #c7dab5;
                    }
                    .currLang {
                        display: block;
                        padding: 0 46px 0 26px;
                        line-height: 67px;
                        position: relative;
                        cursor: pointer;
                        font-size: 16px;
                        width: 150px;
                        text-align: right;
                        @include TransitionWithDurationAndEase(.2s, $EasingOut);
                        &:after {
                            display: block;
                            content: '';
                            position: absolute;
                            right: 26px;
                            top: 50%;
                            margin-top: -2px;
                            border-width: 4px;
                            border-style: solid;
                            border-color: #8fc74a transparent transparent transparent;
                        }
                        &.active {
                            &:after {
                                border-width: 4px;
                                border-style: solid;
                                top: 45%;
                                border-color: transparent transparent #8fc74a transparent;
                            }
                        }
                        &:hover {
                            @include fontNoColor('UTMBryantLGBold');
                            @include textShadow($textShadow);
                        }
                    }
                    .lst-lang {
                        display: none;
                        background: $white;
                        @include shadow-in(0,0,0, 2px, #fff);
                        position: absolute;
                        top: 100%;
                        left: 0;
                        right: -1px;
                        .item-lang {
                            display: block;
                            padding: 15px 20px;
                            color: $blue;
                            @include TransitionWithDurationAndEase(.2s, $EasingOut);
                            &:hover {
                                color: $white;
                                background: $blue;
                            }
                        }
                    }
                }
            }
        }

        //nav mobile
        @media screen and (max-width: 1199px){
            &.navMobile {
                background: none;
                border: none;
                margin: 0;
                .logo {
                    float: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    > a {
                        position: relative;
                        top: 0;
                        left: 0;
                        padding: 10px;
                        width: 76px;
                        height: 76px;
                    }
                }
                .box-navMb {
                    position: fixed;
                    top: 0;
                    bottom: 0;
                    right: -100%;
                    @include TransitionWithDurationAndEase(0.25s, $EasingBackOut);
                    &:after {
                        display: block;
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        //background: #77a440;
                        background: rgba(119, 164,64,.95);
                        width: 10px;
                        height: 10px;
                        //opacity: 0;
                        z-index: -1;
                        @include TransitionWithDurationAndEase(.25s, $EasingOut);
                        @include radius(700px);
                    }
                    .navBar {
                        float: none;
                        @include TransitionWithDurationAndEase(0.25s, $EasingBackOut);
                        .nav-lst {
                            .item-nav {
                                float: none;
                                right: -100%;
                                width: 100%;
                                &:after {
                                    background: none;
                                }
                            }
                        }
                    }
                }
                &.pushMenu_show {
                    .box-navMb {
                        right: 0;
                        width: 100%;
                        @include TransitionWithDurationAndEase_delay(.25s, $EasingCircOut, .1s);
                        &:after {
                            @include transformScale(800);
                            @include TransitionWithDurationAndEase(.75s, $EasingOut);
                            //opacity: 1;
                        }
                        .navBar {
                            padding-top: 63px;
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 100%;
                            .nav-lst {
                                .item-nav {
                                    float: none;
                                    right: 0;
                                    text-align: right;
                                    @include TransitionWithDurationAndEase_delay(.25s, $EasingQuintOut, .25s);
                                    &:nth-child(2){
                                        @include TransitionWithDurationAndEase_delay(.25s, $EasingQuintOut, .3s);
                                    }
                                    &:nth-child(3){
                                        @include TransitionWithDurationAndEase_delay(.25s, $EasingQuintOut, .35s);
                                    }
                                    &:nth-child(4){
                                        @include TransitionWithDurationAndEase_delay(.25s, $EasingQuintOut, .4s);
                                    }
                                    &:nth-child(5){
                                        @include TransitionWithDurationAndEase_delay(.25s, $EasingQuintOut, .5s);
                                    }
                                    &:nth-child(6){
                                        @include TransitionWithDurationAndEase_delay(.25s, $EasingQuintOut, .55s);
                                    }
                                    &:nth-child(7){
                                        @include TransitionWithDurationAndEase_delay(.25s, $EasingQuintOut, .6s);
                                    }
                                    &:nth-child(8){
                                        @include TransitionWithDurationAndEase_delay(.25s, $EasingQuintOut, .65s);
                                    }
                                    > a {
                                        text-align: right;
                                    }
                                    .label-follow {}
                                    .grp-social{

                                    }
                                    .currLang {
                                        display: inline-block;
                                    }
                                    .lst-lang {
                                        top: auto;
                                        bottom: 64px;
                                    }
                                    &:active {
                                        > a {
                                            background: $blue;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        //END nav mobile

        &.fixNav {
            //margin-top: 0;
            @include TransitionWithDurationAndEase(.3s, $EasingOut);
            .logo {
                > a {
                    @include transformScale(.7);
                    @include transformOrigin(center, top);
                }
            }
        }
    }
}





.grp-social {
    display: inline-block;
    vertical-align: middle;
    margin-right: 26px;
    .icoGrains {
        display: inline-block;
        vertical-align: middle;
        padding: 0 6px;
        line-height: 67px;
        .icoFb {
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 10px;
            background: url("../images/icoFb.png") no-repeat 0 -20px;
            background-size: 100%;
            width: 10px;
            height: 19px;
        }
        .icoIn {
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 4px;
            background: url("../images/icoIn.png") no-repeat 0 -18px;
            background-size: 100%;
            width: 18px;
            height: 20px;
        }
        .icoSky {
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 7px;
            background: url("../images/icoSkype.png") no-repeat 0 0;
            background-size: 100%;
            width: 17px;
            height: 18px;
        }
        &:hover {
            @include TransitionWithDurationAndEase(.2s, $EasingOut);
            //@include transformScale(1.2);
            .icoFb {
                background-position: 0 -40px;
            }
            .icoSky {
                background-position: 0 -43px;
            }
        }
    }
}


//banner under navigation / header
// This banner don't have slider => cannot use .cover / .slider

.top-banner{
    &-holder{
        width: 100%;
        overflow: hidden;
        background-color: #e5e5e5;
        position: relative;
        height: 529px;
        &-img{
            width: 100%;
        }
        &.banner-product {
            background: url("../images/banner.png")no-repeat center center;
            background-size: cover;
        }
        &.banner-about {
            background: url("../images/aboutUs.jpg")no-repeat center center;
            background-size: cover;
        }
        &-title{
            @include absoluteReset();
            top:auto;
            left:20%;
            bottom: 70px;
            //text-transform: uppercase;
            @include font('SFUFuturaBold', 60px, $white);
            @include textShadow($textShadow);
            text-align: left;

            @media screen and (max-width: 800px){
                font-size: 40px;
                left:0;
                text-align: center;
            }

            @media screen and (max-width: 700px){
                font-size: 30px;
                left:0;
                text-align: center;
            }
            @media screen and (max-width: 460px){
                bottom: 30px;
                font-size: 20px;
            }
        }
    }
}


//END BANNER



.seemore {
    display: inline-block;
    color: $blueUltraLight;
    @include textShadow($textShadow);
    letter-spacing: 3px;
    font-size: 0px;
    line-height: 30px;
    @include fontNoColor('UTMBryantLGBold');
    @include TransitionWithDurationAndEase(.2s,$EasingOut);
    > span {
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
        padding-top: 6px;
    }
    .arr {
        position: relative;
        margin-left: 12px;
        width: 12px;
        height: 23px;
        padding-top: 0;
        &:before, &:after {
            display: block;
            content:'';
            height: 2px;
            width: 12px;
            background: $blueUltraLight;
            @include shadow-out(0,2px,5px, rgba(0,0,0,0.35));
            @include rotate(45deg);
            @include radius(10px);
            overflow: hidden;
            position: absolute;
            top: 9px;
            right: 0;
        }
        &:after {
            @include rotate(-45deg);
            top: 16px;
        }
    }
    &:hover {
        .arr {
            &:before, &:after {
                @include animation(arr, .25s, $EasingOut, .1s, 1, alternate, forwards, running);
            }
        }
    }
}

@include keyframes(arr) {
    0% {
        left: 0;
    }
    100% {
        left: 10px;
    }
}

//footer
.footer {
    padding-top: 35px;
    background: #fff;
    .lst-footer {
        width: 33.3333%;
        float: left;
        margin-left: 0;
        padding: 0 15px;
        margin-bottom: 10px;
        .item-footer {
            margin-bottom: 15px;
            font-size: 14px;
            .title-md-brown {
                font-size: 18px;
                margin-bottom: 20px;
                text-transform: uppercase;
            }
            .grp-social {
                .icoGrains {
                    line-height: normal;
                    .icoFb {
                        background: url("../images/icoFb.png") no-repeat 0 0;
                        background-size: 100%;
                        width: 15px;
                        height: 27px;
                        margin-bottom: 3px;
                    }
                    .icoIn {
                        background: url("../images/icoIn.png") no-repeat 0 0;
                        background-size: 100%;
                        width: 30px;
                        height: 28px;
                    }
                    .icoSky {
                        background: url("../images/icoSkype.png") no-repeat 0 -41px;
                        background-size: 100%;
                        width: 38px;
                        height: 28px;
                        margin: 0;
                    }
                    .icoSky2 {
                        display: inline-block;
                        vertical-align: middle;
                        background: url("../images/icoSkype.png") no-repeat 0 -69px;
                        background-size: 100%;
                        width: 38px;
                        height: 28px;
                        margin: 0;

                    }
                    &:hover {
                        .icoFb {
                            background-position: 0 -62px;
                        }
                        .icoSky {
                            background-position: 0 -139px;
                        }
                        .icoSky2 {
                            background-position: 0 -168px;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 640px){
            width: 50%;
            &:nth-of-type(-2n+1) {
                clear: both;
            }
        }
        @media screen and (max-width: 414px){
            width: 100%;
            float: none;
        }
    }
    .copy {
        text-align: center;
        padding: 15px 0;
        font-size: 13px;
        border-top: 1px solid #e5e5e5;
    }
}
//END footer


//loading
#loader-wrap {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $white;
    z-index: 9999;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    border: 4px solid $blue;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    animation: loader 4s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: $blue;
    animation: loader-inner 4s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}
//END loading


.overlayPush {
    display: none;
    //opacity: 0;
    //visibility: hidden;
    margin: 0;
    @include radius(1000px);
    width: 1px;
    height: 1px;
    position: fixed;
    top: 35px;
    right: 35px;
    background: rgba(0, 0, 0, .7);
    z-index: 99999;
    @include TransitionWithDurationAndEase(5s, $EasingOut);
    &.darkoverlay {
        display: block;
        @include transformScale(1000);
        @include TransitionWithDurationAndEase(5s, $EasingOut);
    }
}

@import "home";
@import "product";
@import "product-detail";
@import "aboutus";
@import "contact";


