/* Reset */
img, legend {
  border: 0; }

#bd:after, article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

.m0, figure, input, textarea {
  margin: 0; }

#bd:after, .clearfix:after {
  clear: both;
  visibility: hidden; }

.clearfix, sub, sup {
  position: relative; }

*, :focus, a, a:active, a:focus, a:hover {
  outline: 0; }

a, abbr, acronym, address, blockquote, body, caption, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, label, legend, li, object, ol, p, pre, q, span, table, tbody, tfoot, thead, ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100.01%;
  font-family: inherit;
  vertical-align: baseline; }

input, textarea {
  padding: 0 0 0 1px;
  font-weight: inherit;
  font-style: inherit;
  font-size: 11px;
  font-family: arial; }

textarea {
  padding-left: 1px;
  overflow: auto;
  vertical-align: top; }

.p0, legend {
  padding: 0; }

.o, svg:not(:root) {
  overflow: hidden; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, td, th {
  font-weight: 400; }

blockquote:after, blockquote:before, q:after, q:before {
  content: ""; }

blockquote, q {
  quotes: "''"; }

q:after, q:before {
  content: ''; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

li, ul {
  list-style-type: none; }

abbr[title] {
  border-bottom: 1px dotted; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace,serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

audio, canvas, video {
  display: inline-block; }

[hidden], audio:not([controls]) {
  display: none; }

img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  max-width: 100%; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-size: 62.5%;
  font-family: Arial; }

#ft, #hd {
  clear: both; }

#bd:after {
  content: ".";
  height: 0; }

.l {
  float: left; }

.r {
  float: right; }

.clf, ul.ul-h li {
  float: left; }

.h {
  display: none; }

.last {
  margin-right: 0;
  padding-right: 0; }

.cl, .clf {
  clear: both; }

hr {
  border: none;
  border-top: 1px solid #ccc;
  height: 1px;
  clear: both; }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

h1 {
  font-size: 1.8em; }

h2 {
  font-size: 1.3em; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1.1em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: .9em; }

ul.ul-h {
  clear: both; }

ol li {
  list-style: decimal inside; }

.clearfix:after {
  content: '';
  display: block;
  height: 0;
  font-size: 0; }

.clearfix {
  display: block; }

* html .clearfix {
  zoom: 1; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent; }

p {
  margin-bottom: 10px; }

@media print {
  blockquote, img, pre, tr {
    page-break-inside: avoid; }

  * {
    background: 0 0 !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  blockquote, pre {
    border: 1px solid #999; }

  thead {
    display: table-header-group; }

  img {
    max-width: 100% !important; }

  @page {
    margin: .5cm; }
  h2, h3, p {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
*, :after, :before {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

@font-face {
  font-family: 'SFUFuturaRegular';
  src: url("../fonts/SFUFuturaRegular.eot");
  src: url("../fonts/SFUFuturaRegular.eot") format("embedded-opentype"), url("../fonts/SFUFuturaRegular.svg#SFUFuturaRegular") format("svg"), url("../fonts/SFUFuturaRegular.woff") format("woff"), url("../fonts/SFUFuturaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SFUFuturaBold';
  src: url("../fonts/SFUFuturaBold.eot");
  src: url("../fonts/SFUFuturaBold.eot") format("embedded-opentype"), url("../fonts/SFUFuturaBold.svg#SFUFuturaHeavy") format("svg"), url("../fonts/SFUFuturaBold.woff") format("woff"), url("../fonts/SFUFuturaBold.TTF") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'UTMBryantLGRegular';
  src: url("../fonts/UTMBryantLGRegular.eot");
  src: url("../fonts/UTMBryantLGRegular.eot") format("embedded-opentype"), url("../fonts/UTMBryantLGRegular.svg#SFUFuturaBook") format("svg"), url("../fonts/UTMBryantLGRegular.woff") format("woff"), url("../fonts/UTMBryantLGRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'UTMBryantLGBold';
  src: url("../fonts/UTMBryantLGBold.eot");
  src: url("../fonts/UTMBryantLGBold.eot") format("embedded-opentype"), url("../fonts/UTMBryantLGBold.svg#SFUFuturaBook") format("svg"), url("../fonts/UTMBryantLGBold.woff") format("woff"), url("../fonts/UTMBryantLGBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/*@mixin textShadow ($h, $v, $blur, $color) {
    text-shadow: $h $v $blur $color;
    -webkit-text-shadow: $h $v $blur $color;
}*/
body {
  font-size: 18px;
  font-family: 'UTMBryantLGRegular'; }
  body.push_body {
    overflow: hidden; }

.title-md-brown {
  font-family: "UTMBryantLGBold";
  font-size: 30px;
  color: #8e5634;
  line-height: normal;
  margin-bottom: 35px;
  font-weight: normal; }
  @media screen and (max-width: 768px) {
    .title-md-brown {
      margin-bottom: 20px;
      font-size: 27px; } }
  @media screen and (max-width: 414px) {
    .title-md-brown {
      font-size: 18px; } }

.title-md {
  font-family: "UTMBryantLGBold";
  font-size: 36px;
  color: white;
  line-height: normal;
  margin-bottom: 35px;
  font-weight: normal; }
  @media screen and (max-width: 768px) {
    .title-md {
      margin-bottom: 20px;
      font-size: 27px; } }
  @media screen and (max-width: 414px) {
    .title-md {
      font-size: 18px; } }

.title-xs {
  font-family: "UTMBryantLGBold";
  font-size: 24px;
  color: white;
  line-height: normal;
  margin-bottom: 25px;
  font-weight: normal; }
  @media screen and (max-width: 768px) {
    .title-xs {
      margin-bottom: 15px;
      font-size: 20px; } }
  @media screen and (max-width: 414px) {
    .title-xs {
      font-size: 18px; } }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-uppercase {
  text-transform: uppercase; }

.clbt:before, .container:before, .header .nav:before, .header .nav .navBar .nav-lst:before, .secPrice-inner:before, .secPrice-inner .table-price .lst-product .item-product .block-price .lst-price .item-price:before, .contact-inner:before, .aboutUs-top:before, .info-contact-inner .control-form:before, .clbt:after, .container:after, .header .nav:after, .header .nav .navBar .nav-lst:after, .secPrice-inner:after, .secPrice-inner .table-price .lst-product .item-product .block-price .lst-price .item-price:after, .contact-inner:after, .aboutUs-top:after, .info-contact-inner .control-form:after {
  display: table;
  content: ''; }

.clbt:after, .container:after, .header .nav:after, .header .nav .navBar .nav-lst:after, .secPrice-inner:after, .secPrice-inner .table-price .lst-product .item-product .block-price .lst-price .item-price:after, .contact-inner:after, .aboutUs-top:after, .info-contact-inner .control-form:after {
  clear: both; }

.fl {
  float: left; }

.fr {
  float: right; }

.fntBt {
  font-family: "SFUFuturaBold"; }

.fntBt-bryant {
  font-family: "UTMBryantLGBold"; }

.fntNm {
  font-family: "SFUFuturaRegular"; }

.hidden {
  display: none !important; }

.bgBlue {
  background: #8fc74a; }

.half-col {
  width: 50%;
  float: left;
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (max-width: 767px) {
    .half-col {
      width: 100%;
      float: none; } }

.btn {
  display: inline-block;
  color: white;
  border: none;
  cursor: pointer;
  background: #8fc74a;
  position: relative;
  font-weight: normal;
  font-family: "UTMBryantLGBold";
  font-size: 0px;
  line-height: 50px;
  padding: 0 30px;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s cubic-bezier(0.37, 0.15, 0.32, 0.94);
  -moz-transition: all 0.3s cubic-bezier(0.37, 0.15, 0.32, 0.94);
  -ms-transition: all 0.3s cubic-bezier(0.37, 0.15, 0.32, 0.94);
  -o-transition: all 0.3s cubic-bezier(0.37, 0.15, 0.32, 0.94);
  transition: all 0.3s cubic-bezier(0.37, 0.15, 0.32, 0.94);
  height: 50px;
  overflow: hidden;
  text-transform: uppercase; }
  .btn:hover {
    background: #77a440; }
  .btn .text-btn {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    line-height: normal;
    padding-top: 6px; }
    @media screen and (max-width: 460px) {
      .btn .text-btn {
        font-size: 15px; } }
  .btn .arr {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-left: 15px;
    width: 12px;
    height: 22px; }
    .btn .arr:before, .btn .arr:after {
      display: block;
      content: '';
      height: 2px;
      width: 12px;
      background: white;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      overflow: hidden;
      position: absolute;
      top: 7px;
      right: 0; }
    .btn .arr:after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 14px; }

.container {
  margin: 0 auto;
  padding: 0 15px; }
  @media screen and (min-width: 1200px) {
    .container {
      width: 1200px; } }

header {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999; }

@-webkit-keyframes lineTop {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1); }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
    -webkit-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -moz-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -ms-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -o-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%; }
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%; } }
@-moz-keyframes lineTop {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1); }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
    -webkit-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -moz-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -ms-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -o-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%; }
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%; } }
@-ms-keyframes lineTop {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1); }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
    -webkit-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -moz-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -ms-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -o-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%; }
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%; } }
@keyframes lineTop {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1); }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
    -webkit-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -moz-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -ms-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -o-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%; }
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%; } }
@-webkit-keyframes lineBottom {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1); }
  50% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
    -webkit-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -moz-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -ms-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -o-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%; }
  100% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%; } }
@-moz-keyframes lineBottom {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1); }
  50% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
    -webkit-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -moz-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -ms-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -o-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%; }
  100% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%; } }
@-ms-keyframes lineBottom {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1); }
  50% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
    -webkit-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -moz-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -ms-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -o-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%; }
  100% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%; } }
@keyframes lineBottom {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1); }
  50% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
    -webkit-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -moz-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -ms-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -o-transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transition: all 0.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%; }
  100% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%; } }
.header .hamburger {
  display: block;
  position: fixed;
  right: 20px;
  top: 20px;
  cursor: pointer;
  -webkit-transition: all 0.25s cubic-bezier(0.68, 0, 0.265, 1);
  -moz-transition: all 0.25s cubic-bezier(0.68, 0, 0.265, 1);
  -ms-transition: all 0.25s cubic-bezier(0.68, 0, 0.265, 1);
  -o-transition: all 0.25s cubic-bezier(0.68, 0, 0.265, 1);
  transition: all 0.25s cubic-bezier(0.68, 0, 0.265, 1); }
  @media screen and (min-width: 1200px) {
    .header .hamburger {
      display: none; } }
  .header .hamburger:before {
    display: block;
    content: '';
    width: 45px;
    height: 45px;
    background: #8fc74a;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px; }
  @media screen and (max-width: 1199px) {
    .header .hamburger:active:before {
      filter: none;
      -webkit-filter: blur(0px);
      -moz-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
      -webkit-backface-visibility: hidden;
      -webkit-transform: translateZ(0) scale(1, 1);
      -webkit-transform: scale(1.13);
      -moz-transform: scale(1.13);
      -ms-transform: scale(1.13);
      -o-transform: scale(1.13);
      transform: scale(1.13); } }
  .header .hamburger .line-grp {
    display: block;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -8px;
    margin-right: -8px;
    z-index: 1; }
    .header .hamburger .line-grp .lineTop, .header .hamburger .line-grp .lineMid, .header .hamburger .line-grp .lineBottom {
      display: block;
      height: 3px;
      width: 17px;
      background: white;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      margin-bottom: 3px;
      -webkit-transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94);
      -moz-transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94);
      -ms-transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94);
      -o-transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94);
      transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94); }
    .header .hamburger .line-grp .lineBottom {
      margin-bottom: 0; }
  .header .hamburger.activePush .line-grp {
    margin-right: -6px; }
    .header .hamburger.activePush .line-grp .lineTop, .header .hamburger.activePush .line-grp .lineMid, .header .hamburger.activePush .line-grp .lineBottom {
      /* @keyframes name | duration | timing-function | delay |
         iteration-count | direction | fill-mode | play-state */
      /*animation: slidein 3s ease-in 1s 2 reverse both paused;*/
      -webkit-animation: lineTop 0.45s cubic-bezier(0.61, 1.8, 0.89, 1.62) 0.1s 1 alternate forwards running;
      -moz-animation: lineTop 0.45s cubic-bezier(0.61, 1.8, 0.89, 1.62) 0.1s 1 alternate forwards running;
      animation: lineTop 0.45s cubic-bezier(0.61, 1.8, 0.89, 1.62) 0.1s 1 alternate forwards running; }
    .header .hamburger.activePush .line-grp .lineBottom {
      /* @keyframes name | duration | timing-function | delay |
         iteration-count | direction | fill-mode | play-state */
      /*animation: slidein 3s ease-in 1s 2 reverse both paused;*/
      -webkit-animation: lineBottom 0.45s cubic-bezier(0.61, 1.8, 0.89, 1.62) 0.1s 1 alternate forwards running;
      -moz-animation: lineBottom 0.45s cubic-bezier(0.61, 1.8, 0.89, 1.62) 0.1s 1 alternate forwards running;
      animation: lineBottom 0.45s cubic-bezier(0.61, 1.8, 0.89, 1.62) 0.1s 1 alternate forwards running; }
    .header .hamburger.activePush .line-grp .lineMid {
      opacity: 0; }
.header .nav {
  background: #77a440;
  color: white;
  margin-top: -1px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  -webkit-transition: all 0.3s cubic-bezier(0.37, 0.15, 0.32, 0.94);
  -moz-transition: all 0.3s cubic-bezier(0.37, 0.15, 0.32, 0.94);
  -ms-transition: all 0.3s cubic-bezier(0.37, 0.15, 0.32, 0.94);
  -o-transition: all 0.3s cubic-bezier(0.37, 0.15, 0.32, 0.94);
  transition: all 0.3s cubic-bezier(0.37, 0.15, 0.32, 0.94); }
  .header .nav .logo {
    display: block;
    float: left;
    margin-left: 20px;
    position: relative; }
    .header .nav .logo > a {
      display: block;
      background: white;
      padding: 25px 0;
      text-align: center;
      width: 138px;
      height: 138px;
      -webkit-box-shadow: inset 0 0 40px 0 rgba(0, 0, 0, 0.05);
      -moz-box-shadow: inset 0 0 40px 0 rgba(0, 0, 0, 0.05);
      box-shadow: inset 0 0 40px 0 rgba(0, 0, 0, 0.05);
      position: absolute;
      top: -1px;
      left: 0;
      -webkit-transition: all 0.3s cubic-bezier(0.37, 0.15, 0.32, 0.94);
      -moz-transition: all 0.3s cubic-bezier(0.37, 0.15, 0.32, 0.94);
      -ms-transition: all 0.3s cubic-bezier(0.37, 0.15, 0.32, 0.94);
      -o-transition: all 0.3s cubic-bezier(0.37, 0.15, 0.32, 0.94);
      transition: all 0.3s cubic-bezier(0.37, 0.15, 0.32, 0.94);
      -webkit-transform-origin: center top;
      -moz-transform-origin: center top;
      -ms-transform-origin: center top;
      -o-transform-origin: center top;
      transform-origin: center top; }
      .header .nav .logo > a:hover {
        padding-top: 30px;
        height: 143px; }
  .header .nav .navBar {
    display: block;
    float: right; }
    .header .nav .navBar .nav-lst .item-nav {
      display: block;
      float: left;
      position: relative;
      font-size: 14px; }
      .header .nav .navBar .nav-lst .item-nav:after {
        display: block;
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -5px;
        width: 1px;
        height: 10px;
        background: #a9c57c; }
      .header .nav .navBar .nav-lst .item-nav:last-child:after {
        display: none; }
      .header .nav .navBar .nav-lst .item-nav > a {
        display: block;
        padding: 0 26px;
        line-height: 67px;
        color: white;
        text-transform: uppercase;
        position: relative;
        text-align: center;
        -webkit-transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94);
        -moz-transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94);
        -ms-transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94);
        -o-transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94);
        transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94); }
      .header .nav .navBar .nav-lst .item-nav:hover > a, .header .nav .navBar .nav-lst .item-nav.active > a {
        font-family: "UTMBryantLGBold";
        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
        -webkit-text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35); }
      .header .nav .navBar .nav-lst .item-nav .label-follow {
        display: inline-block;
        vertical-align: middle;
        line-height: 67px;
        margin-left: 26px;
        margin-right: 6px;
        color: #c7dab5; }
      .header .nav .navBar .nav-lst .item-nav .currLang {
        display: block;
        padding: 0 46px 0 26px;
        line-height: 67px;
        position: relative;
        cursor: pointer;
        font-size: 16px;
        width: 150px;
        text-align: right;
        -webkit-transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94);
        -moz-transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94);
        -ms-transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94);
        -o-transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94);
        transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94); }
        .header .nav .navBar .nav-lst .item-nav .currLang:after {
          display: block;
          content: '';
          position: absolute;
          right: 26px;
          top: 50%;
          margin-top: -2px;
          border-width: 4px;
          border-style: solid;
          border-color: #8fc74a transparent transparent transparent; }
        .header .nav .navBar .nav-lst .item-nav .currLang.active:after {
          border-width: 4px;
          border-style: solid;
          top: 45%;
          border-color: transparent transparent #8fc74a transparent; }
        .header .nav .navBar .nav-lst .item-nav .currLang:hover {
          font-family: "UTMBryantLGBold";
          text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
          -webkit-text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35); }
      .header .nav .navBar .nav-lst .item-nav .lst-lang {
        display: none;
        background: white;
        -webkit-box-shadow: inset 0 0 0 2px #fff;
        -moz-box-shadow: inset 0 0 0 2px #fff;
        box-shadow: inset 0 0 0 2px #fff;
        position: absolute;
        top: 100%;
        left: 0;
        right: -1px; }
        .header .nav .navBar .nav-lst .item-nav .lst-lang .item-lang {
          display: block;
          padding: 15px 20px;
          color: #77a440;
          -webkit-transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94);
          -moz-transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94);
          -ms-transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94);
          -o-transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94);
          transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94); }
          .header .nav .navBar .nav-lst .item-nav .lst-lang .item-lang:hover {
            color: white;
            background: #77a440; }
  @media screen and (max-width: 1199px) {
    .header .nav.navMobile {
      background: none;
      border: none;
      margin: 0; }
      .header .nav.navMobile .logo {
        float: none;
        position: absolute;
        top: 0;
        left: 0; }
        .header .nav.navMobile .logo > a {
          position: relative;
          top: 0;
          left: 0;
          padding: 10px;
          width: 76px;
          height: 76px; }
      .header .nav.navMobile .box-navMb {
        position: fixed;
        top: 0;
        bottom: 0;
        right: -100%;
        -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1);
        -moz-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1);
        -ms-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1);
        -o-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1);
        transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1); }
        .header .nav.navMobile .box-navMb:after {
          display: block;
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          background: rgba(119, 164, 64, 0.95);
          width: 10px;
          height: 10px;
          z-index: -1;
          -webkit-transition: all 0.25s cubic-bezier(0.37, 0.15, 0.32, 0.94);
          -moz-transition: all 0.25s cubic-bezier(0.37, 0.15, 0.32, 0.94);
          -ms-transition: all 0.25s cubic-bezier(0.37, 0.15, 0.32, 0.94);
          -o-transition: all 0.25s cubic-bezier(0.37, 0.15, 0.32, 0.94);
          transition: all 0.25s cubic-bezier(0.37, 0.15, 0.32, 0.94);
          -webkit-border-radius: 700px;
          -moz-border-radius: 700px;
          border-radius: 700px; }
        .header .nav.navMobile .box-navMb .navBar {
          float: none;
          -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1);
          -moz-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1);
          -ms-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1);
          -o-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1);
          transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1); }
          .header .nav.navMobile .box-navMb .navBar .nav-lst .item-nav {
            float: none;
            right: -100%;
            width: 100%; }
            .header .nav.navMobile .box-navMb .navBar .nav-lst .item-nav:after {
              background: none; }
      .header .nav.navMobile.pushMenu_show .box-navMb {
        right: 0;
        width: 100%;
        -webkit-transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
        -moz-transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
        -ms-transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
        -o-transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
        transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s; }
        .header .nav.navMobile.pushMenu_show .box-navMb:after {
          filter: none;
          -webkit-filter: blur(0px);
          -moz-filter: blur(0px);
          -ms-filter: blur(0px);
          filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
          -webkit-backface-visibility: hidden;
          -webkit-transform: translateZ(0) scale(1, 1);
          -webkit-transform: scale(800);
          -moz-transform: scale(800);
          -ms-transform: scale(800);
          -o-transform: scale(800);
          transform: scale(800);
          -webkit-transition: all 0.75s cubic-bezier(0.37, 0.15, 0.32, 0.94);
          -moz-transition: all 0.75s cubic-bezier(0.37, 0.15, 0.32, 0.94);
          -ms-transition: all 0.75s cubic-bezier(0.37, 0.15, 0.32, 0.94);
          -o-transition: all 0.75s cubic-bezier(0.37, 0.15, 0.32, 0.94);
          transition: all 0.75s cubic-bezier(0.37, 0.15, 0.32, 0.94); }
        .header .nav.navMobile.pushMenu_show .box-navMb .navBar {
          padding-top: 63px;
          position: absolute;
          top: 0;
          right: 0;
          width: 100%; }
          .header .nav.navMobile.pushMenu_show .box-navMb .navBar .nav-lst .item-nav {
            float: none;
            right: 0;
            text-align: right;
            -webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.25s;
            -moz-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.25s;
            -ms-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.25s;
            -o-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.25s;
            transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.25s; }
            .header .nav.navMobile.pushMenu_show .box-navMb .navBar .nav-lst .item-nav:nth-child(2) {
              -webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.3s;
              -moz-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.3s;
              -ms-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.3s;
              -o-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.3s;
              transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.3s; }
            .header .nav.navMobile.pushMenu_show .box-navMb .navBar .nav-lst .item-nav:nth-child(3) {
              -webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.35s;
              -moz-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.35s;
              -ms-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.35s;
              -o-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.35s;
              transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.35s; }
            .header .nav.navMobile.pushMenu_show .box-navMb .navBar .nav-lst .item-nav:nth-child(4) {
              -webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.4s;
              -moz-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.4s;
              -ms-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.4s;
              -o-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.4s;
              transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.4s; }
            .header .nav.navMobile.pushMenu_show .box-navMb .navBar .nav-lst .item-nav:nth-child(5) {
              -webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
              -moz-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
              -ms-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
              -o-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
              transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.5s; }
            .header .nav.navMobile.pushMenu_show .box-navMb .navBar .nav-lst .item-nav:nth-child(6) {
              -webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.55s;
              -moz-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.55s;
              -ms-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.55s;
              -o-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.55s;
              transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.55s; }
            .header .nav.navMobile.pushMenu_show .box-navMb .navBar .nav-lst .item-nav:nth-child(7) {
              -webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.6s;
              -moz-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.6s;
              -ms-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.6s;
              -o-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.6s;
              transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.6s; }
            .header .nav.navMobile.pushMenu_show .box-navMb .navBar .nav-lst .item-nav:nth-child(8) {
              -webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.65s;
              -moz-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.65s;
              -ms-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.65s;
              -o-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.65s;
              transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1) 0.65s; }
            .header .nav.navMobile.pushMenu_show .box-navMb .navBar .nav-lst .item-nav > a {
              text-align: right; }
            .header .nav.navMobile.pushMenu_show .box-navMb .navBar .nav-lst .item-nav .currLang {
              display: inline-block; }
            .header .nav.navMobile.pushMenu_show .box-navMb .navBar .nav-lst .item-nav .lst-lang {
              top: auto;
              bottom: 64px; }
            .header .nav.navMobile.pushMenu_show .box-navMb .navBar .nav-lst .item-nav:active > a {
              background: #77a440; } }
  .header .nav.fixNav {
    -webkit-transition: all 0.3s cubic-bezier(0.37, 0.15, 0.32, 0.94);
    -moz-transition: all 0.3s cubic-bezier(0.37, 0.15, 0.32, 0.94);
    -ms-transition: all 0.3s cubic-bezier(0.37, 0.15, 0.32, 0.94);
    -o-transition: all 0.3s cubic-bezier(0.37, 0.15, 0.32, 0.94);
    transition: all 0.3s cubic-bezier(0.37, 0.15, 0.32, 0.94); }
    .header .nav.fixNav .logo > a {
      filter: none;
      -webkit-filter: blur(0px);
      -moz-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
      -webkit-backface-visibility: hidden;
      -webkit-transform: translateZ(0) scale(1, 1);
      -webkit-transform: scale(0.7);
      -moz-transform: scale(0.7);
      -ms-transform: scale(0.7);
      -o-transform: scale(0.7);
      transform: scale(0.7);
      -webkit-transform-origin: center top;
      -moz-transform-origin: center top;
      -ms-transform-origin: center top;
      -o-transform-origin: center top;
      transform-origin: center top; }

.grp-social {
  display: inline-block;
  vertical-align: middle;
  margin-right: 26px; }
  .grp-social .icoGrains {
    display: inline-block;
    vertical-align: middle;
    padding: 0 6px;
    line-height: 67px; }
    .grp-social .icoGrains .icoFb {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 10px;
      background: url("../images/icoFb.png") no-repeat 0 -20px;
      background-size: 100%;
      width: 10px;
      height: 19px; }
    .grp-social .icoGrains .icoIn {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 4px;
      background: url("../images/icoIn.png") no-repeat 0 -18px;
      background-size: 100%;
      width: 18px;
      height: 20px; }
    .grp-social .icoGrains .icoSky {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 7px;
      background: url("../images/icoSkype.png") no-repeat 0 0;
      background-size: 100%;
      width: 17px;
      height: 18px; }
    .grp-social .icoGrains:hover {
      -webkit-transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94);
      -moz-transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94);
      -ms-transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94);
      -o-transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94);
      transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94); }
      .grp-social .icoGrains:hover .icoFb {
        background-position: 0 -40px; }
      .grp-social .icoGrains:hover .icoSky {
        background-position: 0 -43px; }

.top-banner-holder {
  width: 100%;
  overflow: hidden;
  background-color: #e5e5e5;
  position: relative;
  height: 529px; }
  .top-banner-holder-img {
    width: 100%; }
  .top-banner-holder.banner-product {
    background: url("../images/banner.png") no-repeat center center;
    background-size: cover; }
  .top-banner-holder.banner-about {
    background: url("../images/aboutUs.jpg") no-repeat center center;
    background-size: cover; }
  .top-banner-holder-title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    left: 20%;
    bottom: 70px;
    font-family: "SFUFuturaBold";
    font-size: 60px;
    color: white;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
    -webkit-text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
    text-align: left; }
    @media screen and (max-width: 800px) {
      .top-banner-holder-title {
        font-size: 40px;
        left: 0;
        text-align: center; } }
    @media screen and (max-width: 700px) {
      .top-banner-holder-title {
        font-size: 30px;
        left: 0;
        text-align: center; } }
    @media screen and (max-width: 460px) {
      .top-banner-holder-title {
        bottom: 30px;
        font-size: 20px; } }

.seemore {
  display: inline-block;
  color: #c8ff84;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
  -webkit-text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
  letter-spacing: 3px;
  font-size: 0px;
  line-height: 30px;
  font-family: "UTMBryantLGBold";
  -webkit-transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94);
  -moz-transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94);
  -ms-transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94);
  -o-transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94);
  transition: all 0.2s cubic-bezier(0.37, 0.15, 0.32, 0.94); }
  .seemore > span {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    padding-top: 6px; }
  .seemore .arr {
    position: relative;
    margin-left: 12px;
    width: 12px;
    height: 23px;
    padding-top: 0; }
    .seemore .arr:before, .seemore .arr:after {
      display: block;
      content: '';
      height: 2px;
      width: 12px;
      background: #c8ff84;
      -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      overflow: hidden;
      position: absolute;
      top: 9px;
      right: 0; }
    .seemore .arr:after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 16px; }
  .seemore:hover .arr:before, .seemore:hover .arr:after {
    /* @keyframes name | duration | timing-function | delay |
       iteration-count | direction | fill-mode | play-state */
    /*animation: slidein 3s ease-in 1s 2 reverse both paused;*/
    -webkit-animation: arr 0.25s cubic-bezier(0.37, 0.15, 0.32, 0.94) 0.1s 1 alternate forwards running;
    -moz-animation: arr 0.25s cubic-bezier(0.37, 0.15, 0.32, 0.94) 0.1s 1 alternate forwards running;
    animation: arr 0.25s cubic-bezier(0.37, 0.15, 0.32, 0.94) 0.1s 1 alternate forwards running; }

@-webkit-keyframes arr {
  0% {
    left: 0; }
  100% {
    left: 10px; } }
@-moz-keyframes arr {
  0% {
    left: 0; }
  100% {
    left: 10px; } }
@-ms-keyframes arr {
  0% {
    left: 0; }
  100% {
    left: 10px; } }
@keyframes arr {
  0% {
    left: 0; }
  100% {
    left: 10px; } }
.footer {
  padding-top: 35px;
  background: #fff; }
  .footer .lst-footer {
    width: 33.3333%;
    float: left;
    margin-left: 0;
    padding: 0 15px;
    margin-bottom: 10px; }
    .footer .lst-footer .item-footer {
      margin-bottom: 15px;
      font-size: 14px; }
      .footer .lst-footer .item-footer .title-md-brown {
        font-size: 18px;
        margin-bottom: 20px;
        text-transform: uppercase; }
      .footer .lst-footer .item-footer .grp-social .icoGrains {
        line-height: normal; }
        .footer .lst-footer .item-footer .grp-social .icoGrains .icoFb {
          background: url("../images/icoFb.png") no-repeat 0 0;
          background-size: 100%;
          width: 15px;
          height: 27px;
          margin-bottom: 3px; }
        .footer .lst-footer .item-footer .grp-social .icoGrains .icoIn {
          background: url("../images/icoIn.png") no-repeat 0 0;
          background-size: 100%;
          width: 30px;
          height: 28px; }
        .footer .lst-footer .item-footer .grp-social .icoGrains .icoSky {
          background: url("../images/icoSkype.png") no-repeat 0 -41px;
          background-size: 100%;
          width: 38px;
          height: 28px;
          margin: 0; }
        .footer .lst-footer .item-footer .grp-social .icoGrains .icoSky2 {
          display: inline-block;
          vertical-align: middle;
          background: url("../images/icoSkype.png") no-repeat 0 -69px;
          background-size: 100%;
          width: 38px;
          height: 28px;
          margin: 0; }
        .footer .lst-footer .item-footer .grp-social .icoGrains:hover .icoFb {
          background-position: 0 -62px; }
        .footer .lst-footer .item-footer .grp-social .icoGrains:hover .icoSky {
          background-position: 0 -139px; }
        .footer .lst-footer .item-footer .grp-social .icoGrains:hover .icoSky2 {
          background-position: 0 -168px; }
    @media screen and (max-width: 640px) {
      .footer .lst-footer {
        width: 50%; }
        .footer .lst-footer:nth-of-type(-2n+1) {
          clear: both; } }
    @media screen and (max-width: 414px) {
      .footer .lst-footer {
        width: 100%;
        float: none; } }
  .footer .copy {
    text-align: center;
    padding: 15px 0;
    font-size: 13px;
    border-top: 1px solid #e5e5e5; }

#loader-wrap {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: white;
  z-index: 9999; }

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  border: 4px solid #77a440;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  animation: loader 4s infinite ease; }

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #77a440;
  animation: loader-inner 4s infinite ease-in; }

@keyframes loader {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(180deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes loader-inner {
  0% {
    height: 0%; }
  25% {
    height: 0%; }
  50% {
    height: 100%; }
  75% {
    height: 100%; }
  100% {
    height: 0%; } }
.overlayPush {
  display: none;
  margin: 0;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  width: 1px;
  height: 1px;
  position: fixed;
  top: 35px;
  right: 35px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999;
  -webkit-transition: all 5s cubic-bezier(0.37, 0.15, 0.32, 0.94);
  -moz-transition: all 5s cubic-bezier(0.37, 0.15, 0.32, 0.94);
  -ms-transition: all 5s cubic-bezier(0.37, 0.15, 0.32, 0.94);
  -o-transition: all 5s cubic-bezier(0.37, 0.15, 0.32, 0.94);
  transition: all 5s cubic-bezier(0.37, 0.15, 0.32, 0.94); }
  .overlayPush.darkoverlay {
    display: block;
    filter: none;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transform: scale(1000);
    -moz-transform: scale(1000);
    -ms-transform: scale(1000);
    -o-transform: scale(1000);
    transform: scale(1000);
    -webkit-transition: all 5s cubic-bezier(0.37, 0.15, 0.32, 0.94);
    -moz-transition: all 5s cubic-bezier(0.37, 0.15, 0.32, 0.94);
    -ms-transition: all 5s cubic-bezier(0.37, 0.15, 0.32, 0.94);
    -o-transition: all 5s cubic-bezier(0.37, 0.15, 0.32, 0.94);
    transition: all 5s cubic-bezier(0.37, 0.15, 0.32, 0.94); }

@-webkit-keyframes scrollMouse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(5px);
    transform: translateY(5px); } }
@-moz-keyframes scrollMouse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(5px);
    transform: translateY(5px); } }
@-ms-keyframes scrollMouse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(5px);
    transform: translateY(5px); } }
@keyframes scrollMouse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(5px);
    transform: translateY(5px); } }
.cover {
  position: relative;
    /*.scrollMouse .a1 {
        margin-top: 6px;
        -webkit-animation-delay: .1s;
        -moz-animation-delay: .1s;
        animation-delay: .1s;
    }

    .scrollMouse .a2 {
        -webkit-animation-delay: .2s;
        -moz-animation-delay: .2s;
        animation-delay: .2s;
    }

    .scrollMouse .a3 {
        -webkit-animation-delay: .3s;
        -moz-animation-delay: .3s;
        animation-delay: .3s;
    }*/ }
  .cover .scrollMouse {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -3px;
    z-index: 9;
    background: #77a440;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    width: 30px;
    height: 40px; }
    .cover .scrollMouse > span {
      display: block;
      width: 20px;
      height: 20px;
      position: relative;
      /* @keyframes name | duration | timing-function | delay |
         iteration-count | direction | fill-mode | play-state */
      /*animation: slidein 3s ease-in 1s 2 reverse both paused;*/
      -webkit-animation: scrollMouse 1s cubic-bezier(0.37, 0.15, 0.32, 0.94) 0.1s infinite normal forwards running;
      -moz-animation: scrollMouse 1s cubic-bezier(0.37, 0.15, 0.32, 0.94) 0.1s infinite normal forwards running;
      animation: scrollMouse 1s cubic-bezier(0.37, 0.15, 0.32, 0.94) 0.1s infinite normal forwards running; }
      .cover .scrollMouse > span:before, .cover .scrollMouse > span:after {
        display: block;
        content: '';
        height: 2px;
        width: 10px;
        background: white;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -3px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
      .cover .scrollMouse > span:after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        margin-left: 3px; }
    .cover .scrollMouse .a1 {
      margin-top: 6px;
      -webkit-animation-delay: .1s;
      -moz-animation-delay: .1s;
      animation-delay: .1s; }
    .cover .scrollMouse .a2 {
      -webkit-animation-delay: .2s;
      -moz-animation-delay: .2s;
      animation-delay: .2s; }
    .cover .scrollMouse .a3 {
      -webkit-animation-delay: .3s;
      -moz-animation-delay: .3s;
      animation-delay: .3s; }
  .cover .slider .swiper-container .swiper-wrapper .swiper-slide {
    background: url("../images/sliderCover2.jpg") no-repeat center center;
    background-size: cover;
    height: 529px; }
    .cover .slider .swiper-container .swiper-wrapper .swiper-slide .caption {
      display: block;
      width: 420px;
      position: absolute;
      right: 100px;
      top: 50%;
      margin-top: -100px;
      text-align: center; }
      .cover .slider .swiper-container .swiper-wrapper .swiper-slide .caption-title {
        font-family: "SFUFuturaBold";
        font-size: 60px;
        color: white;
        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
        -webkit-text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
        line-height: normal;
        margin-bottom: 15px; }
      @media screen and (max-width: 767px) {
        .cover .slider .swiper-container .swiper-wrapper .swiper-slide .caption {
          width: 300px;
          height: 100px;
          margin-top: -50px; }
          .cover .slider .swiper-container .swiper-wrapper .swiper-slide .caption-title {
            font-size: 30px; } }
      @media screen and (max-width: 640px) {
        .cover .slider .swiper-container .swiper-wrapper .swiper-slide .caption {
          width: 100%;
          text-align: center;
          right: 0;
          left: 0;
          margin-top: 30px; }
          .cover .slider .swiper-container .swiper-wrapper .swiper-slide .caption-title {
            font-size: 25px; } }
      @media screen and (max-width: 414px) {
        .cover .slider .swiper-container .swiper-wrapper .swiper-slide .caption-title {
          font-size: 20px; } }
  .cover .slider .swiper-prev, .cover .slider .swiper-next {
    display: block;
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -30px;
    z-index: 99;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    padding: 30px;
    background: transparent;
    -webkit-transition: all 0.5s cubic-bezier(0.37, 0.15, 0.32, 0.94);
    -moz-transition: all 0.5s cubic-bezier(0.37, 0.15, 0.32, 0.94);
    -ms-transition: all 0.5s cubic-bezier(0.37, 0.15, 0.32, 0.94);
    -o-transition: all 0.5s cubic-bezier(0.37, 0.15, 0.32, 0.94);
    transition: all 0.5s cubic-bezier(0.37, 0.15, 0.32, 0.94); }
    .cover .slider .swiper-prev:before, .cover .slider .swiper-next:before, .cover .slider .swiper-prev:after, .cover .slider .swiper-next:after {
      display: block;
      content: '';
      position: absolute;
      height: 2px;
      width: 13px;
      left: 24px;
      background: white; }
    .cover .slider .swiper-prev:after, .cover .slider .swiper-next:after {
      border-style: solid;
      border-color: transparent white transparent transparent;
      border-width: 5px 8px;
      left: 8px;
      top: 50%;
      width: 0;
      height: 0;
      margin-top: -4px;
      background: none; }
    .cover .slider .swiper-prev:hover, .cover .slider .swiper-next:hover {
      left: 10px;
      background: rgba(200, 255, 132, 0.3); }
  .cover .slider .swiper-next {
    left: auto;
    right: 20px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
    .cover .slider .swiper-next:hover {
      left: auto;
      right: 10px;
      background: rgba(200, 255, 132, 0.3); }

.intro {
  background: url("../images/introCover.jpg") no-repeat center bottom #f2f2f2;
  -webkit-background-size: cover;
  background-size: cover; }
  @media screen and (max-width: 1300px) {
    .intro {
      -webkit-background-size: contain;
      background-size: contain; } }
  .intro-inner {
    text-align: center;
    max-width: 910px;
    margin: 0 auto;
    padding: 80px 0 120px; }
    .intro-inner p {
      margin-bottom: 20px; }

.secPrice-inner .table-price {
  display: block;
  position: relative;
  padding-top: 20px; }
  @media screen and (min-width: 415px) {
    .secPrice-inner .table-price {
      padding: 60px 0 0; } }
  .secPrice-inner .table-price .ctn-table-price {
    display: block;
    position: relative;
    padding-bottom: 20px; }
  .secPrice-inner .table-price .lst-product {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0 20px 0 0;
    height: 100%;
    scrollbar-arrow-color: #a1a1a1;
    scrollbar-face-color: #a1a1a1;
    scrollbar-highlight-color: #cbcbca;
    scrollbar-shadow-color: #a1a1a1;
    /* Track */
    /* Handle */ }
    .secPrice-inner .table-price .lst-product::-webkit-scrollbar {
      width: 8px; }
    .secPrice-inner .table-price .lst-product::-webkit-scrollbar-track {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: #cbcbca; }
    .secPrice-inner .table-price .lst-product::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: #77a440; }
    .secPrice-inner .table-price .lst-product::-webkit-scrollbar-thumb:window-inactive {
      background: #a1a1a1; }
    .secPrice-inner .table-price .lst-product .item-product {
      display: block;
      padding-bottom: 20px; }
      .secPrice-inner .table-price .lst-product .item-product .bgBlue {
        display: inline-block;
        padding-right: 18px;
        z-index: 1;
        position: relative; }
      .secPrice-inner .table-price .lst-product .item-product .title-price {
        position: relative;
        padding-right: 40px;
        text-transform: uppercase;
        font-family: "SFUFuturaRegular";
        font-size: 24px;
        color: white;
        cursor: pointer; }
        .secPrice-inner .table-price .lst-product .item-product .title-price:after {
          display: block;
          content: '';
          position: absolute;
          left: 0;
          right: 40px;
          bottom: 6px;
          height: 1px;
          background: #b1d881; }
        .secPrice-inner .table-price .lst-product .item-product .title-price .arrDown {
          display: block;
          background: #3f3f3f;
          -webkit-border-radius: 70px;
          -moz-border-radius: 70px;
          border-radius: 70px;
          width: 25px;
          height: 25px;
          position: absolute;
          right: 0;
          top: 5px; }
          .secPrice-inner .table-price .lst-product .item-product .title-price .arrDown:before, .secPrice-inner .table-price .lst-product .item-product .title-price .arrDown:after {
            display: block;
            content: '';
            height: 2px;
            width: 12px;
            background: white;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            overflow: hidden;
            position: absolute;
            top: 8px;
            right: 5px; }
          .secPrice-inner .table-price .lst-product .item-product .title-price .arrDown:after {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            top: 15px; }
        .secPrice-inner .table-price .lst-product .item-product .title-price.active .arrDown {
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          transform: rotate(90deg); }
      .secPrice-inner .table-price .lst-product .item-product .block-price {
        display: none; }
        .secPrice-inner .table-price .lst-product .item-product .block-price .lst-price {
          margin: 0;
          padding: 0; }
          .secPrice-inner .table-price .lst-product .item-product .block-price .lst-price .item-price {
            font-family: "UTMBryantLGBold";
            font-size: 24px;
            color: white; }
            .secPrice-inner .table-price .lst-product .item-product .block-price .lst-price .item-price .label-qual {
              float: left;
              width: 75%;
              color: #3f3f3f;
              padding-right: 10px;
              position: relative; }
              .secPrice-inner .table-price .lst-product .item-product .block-price .lst-price .item-price .label-qual:after {
                display: block;
                content: '';
                position: absolute;
                left: 0;
                right: 40px;
                bottom: 6px;
                height: 1px;
                border-bottom: 1px dotted #3f3f3f; }
              @media screen and (max-width: 414px) {
                .secPrice-inner .table-price .lst-product .item-product .block-price .lst-price .item-price .label-qual {
                  width: 70%; } }
            .secPrice-inner .table-price .lst-product .item-product .block-price .lst-price .item-price .price {
              float: left;
              width: 25%;
              text-align: right; }
              @media screen and (max-width: 414px) {
                .secPrice-inner .table-price .lst-product .item-product .block-price .lst-price .item-price .price {
                  width: 30%; } }
      @media screen and (max-width: 1070px) {
        .secPrice-inner .table-price .lst-product .item-product .block-price .lst-price .item-price {
          font-size: 20px; } }
      @media screen and (max-width: 940px) {
        .secPrice-inner .table-price .lst-product .item-product .title-price {
          font-size: 16px; }
          .secPrice-inner .table-price .lst-product .item-product .title-price .arrDown {
            width: 20px;
            height: 20px; }
            .secPrice-inner .table-price .lst-product .item-product .title-price .arrDown:before, .secPrice-inner .table-price .lst-product .item-product .title-price .arrDown:after {
              width: 8px;
              top: 7px;
              right: 5px; }
            .secPrice-inner .table-price .lst-product .item-product .title-price .arrDown:after {
              top: 11px; }
        .secPrice-inner .table-price .lst-product .item-product .block-price .lst-price .item-price {
          font-size: 16px; } }
.secPrice .grp-service {
  display: block;
  margin-right: -15px;
  margin-left: -15px; }
  .secPrice .grp-service .half-ver {
    display: block;
    height: 50vh; }
  .secPrice .grp-service .box-product, .secPrice .grp-service .box-service {
    background: url("../images/bgProduct.jpg") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative; }
    .secPrice .grp-service .box-product:after, .secPrice .grp-service .box-service:after {
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(53, 45, 47, 0.7);
      -webkit-transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      -moz-transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      -ms-transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      -o-transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
    .secPrice .grp-service .box-product:hover:after, .secPrice .grp-service .box-service:hover:after {
      background: transparent; }
    .secPrice .grp-service .box-product .title-md, .secPrice .grp-service .box-service .title-md {
      margin-bottom: 0;
      text-transform: uppercase; }
    .secPrice .grp-service .box-product .bx-ver, .secPrice .grp-service .box-service .bx-ver {
      display: block;
      z-index: 1;
      position: relative;
      width: 100%;
      height: 100%; }
      .secPrice .grp-service .box-product .bx-ver .inner-bx-ver, .secPrice .grp-service .box-service .bx-ver .inner-bx-ver {
        position: absolute;
        bottom: 20px;
        left: 40px; }
  .secPrice .grp-service .box-service {
    background: url("../images/bgProduct2.jpg") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover; }

.contact {
  background: #8e5634;
  color: white; }
  .contact-inner .contact-info, .contact-inner .map {
    display: table;
    text-align: center;
    width: 100%;
    height: 100vh;
    letter-spacing: 4px;
    font-family: "UTMBryantLGBold"; }
    @media screen and (max-width: 767px) {
      .contact-inner .contact-info, .contact-inner .map {
        height: auto;
        padding: 30px 0; } }
    .contact-inner .contact-info .ctn-info, .contact-inner .contact-info .inner-map, .contact-inner .map .ctn-info, .contact-inner .map .inner-map {
      display: table-cell;
      vertical-align: middle; }

@font-face {
  font-family: 'SFUFuturaRegular';
  src: url("../fonts/SFUFuturaRegular.eot");
  src: url("../fonts/SFUFuturaRegular.eot") format("embedded-opentype"), url("../fonts/SFUFuturaRegular.svg#SFUFuturaRegular") format("svg"), url("../fonts/SFUFuturaRegular.woff") format("woff"), url("../fonts/SFUFuturaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SFUFuturaBold';
  src: url("../fonts/SFUFuturaBold.eot");
  src: url("../fonts/SFUFuturaBold.eot") format("embedded-opentype"), url("../fonts/SFUFuturaBold.svg#SFUFuturaHeavy") format("svg"), url("../fonts/SFUFuturaBold.woff") format("woff"), url("../fonts/SFUFuturaBold.TTF") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'UTMBryantLGRegular';
  src: url("../fonts/UTMBryantLGRegular.eot");
  src: url("../fonts/UTMBryantLGRegular.eot") format("embedded-opentype"), url("../fonts/UTMBryantLGRegular.svg#SFUFuturaBook") format("svg"), url("../fonts/UTMBryantLGRegular.woff") format("woff"), url("../fonts/UTMBryantLGRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'UTMBryantLGBold';
  src: url("../fonts/UTMBryantLGBold.eot");
  src: url("../fonts/UTMBryantLGBold.eot") format("embedded-opentype"), url("../fonts/UTMBryantLGBold.svg#SFUFuturaBook") format("svg"), url("../fonts/UTMBryantLGBold.woff") format("woff"), url("../fonts/UTMBryantLGBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/*@mixin textShadow ($h, $v, $blur, $color) {
    text-shadow: $h $v $blur $color;
    -webkit-text-shadow: $h $v $blur $color;
}*/
.product {
  margin-top: 37px;
  background-color: #f2f2f2; }
  .product-filter {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 653px;
    text-align: center;
    /*background-color: $backgroundTestColor;*/ }
    .product-filter-title {
      font-family: "UTMBryantLGRegular";
      font-size: 18px;
      color: #636363;
      background: url("../images/line.png") no-repeat center center;
      background-size: contain;
      text-align: center; }
      @media screen and (max-width: 653px) {
        .product-filter-title {
          background: none; } }
    .product-filter-placeholder {
      position: relative;
      text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
      -webkit-text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
      color: white;
      text-transform: uppercase;
      line-height: 53px;
      height: 50px;
      background-color: #8fc74a;
      max-width: 412px;
      width: calc(100% - 20px);
      min-width: 300px;
      margin: 17px auto;
      margin-bottom: 0px; }
      .product-filter-placeholder img {
        -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        -ms-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        left: 90%;
        top: 35%; }
    .product-filter-placeholder:hover {
      cursor: pointer; }
      .product-filter-placeholder:hover img {
        -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
        -moz-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
        -ms-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
        -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg); }
    .product-filter-holder {
      margin: 0px auto;
      margin-bottom: 0px;
      text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
      -webkit-text-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
      color: white;
      text-transform: uppercase;
      line-height: 53px;
      vertical-align: middle;
      max-width: 412px;
      width: calc(100% - 20px);
      min-width: 300px;
      height: 0px;
      overflow: hidden; }
      @media screen and (max-width: 412px) {
        .product-filter-holder {
          margin: 0px 10px; } }
      .product-filter-holder .product-filter-item {
        cursor: pointer;
        display: block;
        user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        background-color: #8fc74a;
        border: none;
        height: 50px; }
      .product-filter-holder .product-filter-item:hover {
        background-color: white;
        border: solid 1px #8fc74a;
        color: #8fc74a;
        text-shadow: none;
        -webkit-text-shadow: none;
        font-weight: bold; }
  .product-holder {
    margin: 0px auto;
    max-width: 1000px; }
  .product .product-list {
    font-size: 0px;
    margin: 0px auto;
    padding: 0px; }
  .product .product-item {
    font-family: "UTMBryantLGBold";
    font-size: 18px;
    color: #636363;
    text-align: center;
    display: inline-block;
    padding: 16px;
    width: 33.333%;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none; }
    @media screen and (max-width: 640px) {
      .product .product-item {
        width: 50%; } }
    .product .product-item img {
      -webkit-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
      -moz-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
      -ms-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
      -o-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
      transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
      border: 3px solid rgba(143, 199, 74, 0); }
    .product .product-item p {
      text-transform: uppercase; }
    .product .product-item-name {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-top: 15px; }
  .product .product-item:hover {
    cursor: pointer; }
    .product .product-item:hover img {
      -webkit-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
      -moz-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
      -ms-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
      -o-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
      transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
      border: 3px solid #8fc74a; }

@font-face {
  font-family: 'SFUFuturaRegular';
  src: url("../fonts/SFUFuturaRegular.eot");
  src: url("../fonts/SFUFuturaRegular.eot") format("embedded-opentype"), url("../fonts/SFUFuturaRegular.svg#SFUFuturaRegular") format("svg"), url("../fonts/SFUFuturaRegular.woff") format("woff"), url("../fonts/SFUFuturaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SFUFuturaBold';
  src: url("../fonts/SFUFuturaBold.eot");
  src: url("../fonts/SFUFuturaBold.eot") format("embedded-opentype"), url("../fonts/SFUFuturaBold.svg#SFUFuturaHeavy") format("svg"), url("../fonts/SFUFuturaBold.woff") format("woff"), url("../fonts/SFUFuturaBold.TTF") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'UTMBryantLGRegular';
  src: url("../fonts/UTMBryantLGRegular.eot");
  src: url("../fonts/UTMBryantLGRegular.eot") format("embedded-opentype"), url("../fonts/UTMBryantLGRegular.svg#SFUFuturaBook") format("svg"), url("../fonts/UTMBryantLGRegular.woff") format("woff"), url("../fonts/UTMBryantLGRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'UTMBryantLGBold';
  src: url("../fonts/UTMBryantLGBold.eot");
  src: url("../fonts/UTMBryantLGBold.eot") format("embedded-opentype"), url("../fonts/UTMBryantLGBold.svg#SFUFuturaBook") format("svg"), url("../fonts/UTMBryantLGBold.woff") format("woff"), url("../fonts/UTMBryantLGBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/*@mixin textShadow ($h, $v, $blur, $color) {
    text-shadow: $h $v $blur $color;
    -webkit-text-shadow: $h $v $blur $color;
}*/
.brown-line {
  margin-left: 20px;
  margin-top: 42px;
  width: 65px;
  height: 1px;
  background-color: #636363; }

body {
  background-color: #f2f2f2; }

.product-detail {
  width: 100%;
  max-width: 730px;
  margin: 0 auto;
  /*
      &-image{
          margin:20px 0px;
          @media screen and (max-width: 727px){
              padding: 0 10px;
          }
      }*/ }
  .product-detail-nav {
    padding: 0 20px;
    width: 100%;
    margin-top: 15px;
    font-family: UTMBryantLGRegular;
    font-size: 0;
    color: #636363; }
    .product-detail-nav li {
      display: inline-block;
      font-size: 18px;
      height: 100%;
      vertical-align: middle;
      margin-right: 13px; }
      .product-detail-nav li a:hover {
        color: #8fc74a; }
    .product-detail-nav li:nth-child(2n) {
      vertical-align: top;
      margin-top: -3px; }
    .product-detail-nav li:last-child {
      color: #7cb931; }
  .product-detail-header {
    padding: 0 20px;
    margin-top: 30px;
    margin-bottom: 15px;
    font-family: SFUFuturaBold;
    font-size: 30px;
    color: #8e5634; }
    @media screen and (max-width: 460px) {
      .product-detail-header {
        font-size: 23px; } }
  .product-detail-content {
    padding: 0 20px;
    line-height: 20px;
    text-align: left; }
    .product-detail-content p {
      line-height: normal; }
    @media screen and (max-width: 540px) {
      .product-detail-content {
        text-align: justify; } }
  .product-detail-qualification {
    padding: 0 20px; }
    .product-detail-qualification strong {
      font-weight: bold; }
    .product-detail-qualification p {
      line-height: 20px;
      margin-top: -5px; }
    .product-detail-qualification p:first-child {
      font-family: UTMBryantLGBold;
      font-size: 18px;
      color: #8e5634;
      margin-bottom: 30px;
      margin-top: 20px; }
    .product-detail-qualification p:last-child {
      margin-top: 20px; }
      .product-detail-qualification p:last-child span {
        font-family: UTMBryantLGBold;
        font-size: 18px;
        color: #8e5634;
        text-decoration: underline; }
  .product-detail div:last-child {
    width: 150px;
    margin-top: 0px;
    margin-bottom: 100px; }

.aboutUs {
  background: url("../images/bg-about.jpg") no-repeat center bottom;
  background-size: contain;
  padding-bottom: 200px; }
  .aboutUs .thumb-about {
    display: inline-block;
    border: 2px solid #fff; }
  .aboutUs .product-detail-header {
    padding: 0;
    line-height: normal; }
  .aboutUs-top {
    max-width: 970px;
    margin: 70px auto 60px; }
    @media screen and (max-width: 480px) {
      .aboutUs-top {
        margin: 30px 0 20px; } }
    .aboutUs-top .brown-line {
      margin: 0; }
    .aboutUs-top .col-left-about {
      display: block;
      float: left;
      width: 40%;
      padding: 0 15px; }
      @media screen and (max-width: 480px) {
        .aboutUs-top .col-left-about {
          float: none;
          width: 100%; } }
    .aboutUs-top .col-right-about {
      display: block;
      float: left;
      width: 60%;
      padding: 0 15px; }
      @media screen and (max-width: 480px) {
        .aboutUs-top .col-right-about {
          float: none;
          width: 100%; } }
  .aboutUs-bottom {
    text-align: center;
    max-width: 770px;
    padding: 0 15px;
    margin: 0 auto; }
    @media screen and (max-width: 480px) {
      .aboutUs-bottom {
        text-align: left; } }
    .aboutUs-bottom .thumb-about {
      margin: 10px 0 50px; }
      @media screen and (max-width: 480px) {
        .aboutUs-bottom .thumb-about {
          margin-bottom: 30px; } }
    .aboutUs-bottom-inner .brown-line {
      margin: 0 auto; }
      @media screen and (max-width: 480px) {
        .aboutUs-bottom-inner .brown-line {
          margin: 0; } }

.info-contact .label-form, .info-contact-inner .topForm .title-right-form, .info-contact-inner .grp-select-part, .info-contact .ip-form {
  display: inline-block;
  vertical-align: top;
  line-height: 45px;
  padding: 0 15px;
  width: 70%; }
  @media screen and (max-width: 540px) {
    .info-contact .label-form, .info-contact-inner .topForm .title-right-form, .info-contact-inner .grp-select-part, .info-contact .ip-form {
      width: 100%;
      display: block; } }

.info-contact .label-form {
  width: 29%; }
  @media screen and (max-width: 540px) {
    .info-contact .label-form {
      text-align: left;
      display: block;
      width: 100%; } }

.contactPage {
  padding: 135px 0 45px; }
  .contactPage .contact-inner .contact-info {
    height: 60vh; }
    @media screen and (max-width: 540px) {
      .contactPage .contact-inner .contact-info {
        height: auto;
        margin-bottom: 30px; } }
  .contactPage .contact-inner .map {
    height: 60vh; }
    @media screen and (max-width: 540px) {
      .contactPage .contact-inner .map {
        height: auto;
        margin-bottom: 30px; } }
  .contactPage .title-xs {
    text-transform: uppercase; }
  @media screen and (max-width: 1199px) {
    .contactPage {
      padding: 90px 0 45px; } }

.info-contact .product-detail-header {
  padding: 0; }
.info-contact-inner {
  max-width: 700px;
  margin: 0 auto; }
  .info-contact-inner .control-form {
    display: block;
    margin-bottom: 15px; }
    @media screen and (max-width: 540px) {
      .info-contact-inner .control-form {
        padding: 0 15px; } }
    .info-contact-inner .control-form .btn {
      padding: 0 55px;
      text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
      -webkit-text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
      font-size: 18px; }
    .info-contact-inner .control-form .txtarea {
      resize: none; }
  .info-contact-inner .grp-select-part {
    position: relative;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .info-contact-inner .grp-select-part .current-select {
      background: #e1e1e1;
      line-height: 54px;
      height: 45px;
      width: 100%;
      max-width: inherit;
      min-width: inherit;
      display: block;
      margin: 0;
      cursor: inherit;
      -webkit-box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.05);
      -moz-box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.05);
      box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.05);
      padding: 0 30px 0 15px;
      text-transform: uppercase;
      color: #8e5634;
      font-family: 'UTMBryantLGBold';
      text-shadow: none;
      /*&:before, &:after {
          display: block;
          content:'';
          width: 13px;
          height: 2px;
          background: $colorBrown;
          position: absolute;
          top: 20px;
          right: 10px;
          @include rotate(45deg);
      }
      &:after {
          @include rotate(-45deg);
          right: 19px;
      }
      &.active-slc {
          &:before, &:after {
              @include rotate(-45deg);
          }
          &:after {
              @include rotate(45deg);
          }
      }*/ }
    .info-contact-inner .grp-select-part .select-part {
      display: block;
      background: #e1e1e1; }
      .info-contact-inner .grp-select-part .select-part .lst-part {
        margin: 0;
        width: 100%;
        min-width: inherit;
        max-width: inherit;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        .info-contact-inner .grp-select-part .select-part .lst-part .item-part {
          padding: 0 15px;
          background: none;
          color: #3e3e3e;
          text-shadow: none; }
          .info-contact-inner .grp-select-part .select-part .lst-part .item-part:hover {
            border: none; }
  .info-contact-inner .ctn-map {
    margin-bottom: 195px;
    padding: 0 10px; }
    @media screen and (max-width: 480px) {
      .info-contact-inner .ctn-map {
        margin-bottom: 40px; } }
  .info-contact-inner .btn {
    height: 50px;
    line-height: 58px; }
.info-contact .label-form {
  min-height: 1px;
  text-align: right; }
  @media screen and (max-width: 540px) {
    .info-contact .label-form {
      text-align: left;
      padding: 0; } }
.info-contact .ip-form {
  border: none;
  -webkit-box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  background: #e1e1e1;
  font-family: "UTMBryantLGBold";
  font-size: 18px;
  color: #3e3e3e; }

#map {
  width: 100%;
  height: 400px; }
  @media screen and (max-width: 320px) {
    #map {
      height: 300px; } }

/*# sourceMappingURL=style.css.map */
